CarmeConfig.start
Carme-Vendors
CarmeConfig.start
Carme-Install/singularity*

Carme-ContainerImages/Carme-Base-Image/base.sif
Carme-ContainerImages/Carme-Base-Image/base.sif.bak
Carme-ContainerImages/Carme-Proxy-Container/proxy.sif
Carme-ContainerImages/Carme-Proxy-Container/proxy.recipe
Carme-ContainerImages/Carme-Proxy-Container/proxy.sif.bak
Carme-ContainerImages/Carme-Frontend-Container/frontend.sif
Carme-ContainerImages/Carme-Frontend-Container/frontend.sif.bak

Carme-Frontend/Carme-Server-Conf
Carme-Frontend/Carme-Django/webfrontend/carme/migrations/0*
Carme-Frontend/Carme-Django/webfrontend/projects/migrations/0*
Carme-Frontend/Carme-Django/webfrontend/profiles/migrations/0*

Carme-Frontend/Carme-Django/webfrontend/SSL/
Carme-Frontend/Carme-Django/webfrontend/carme/__pycache__
Carme-Frontend/Carme-Django/webfrontend/scripts/__pycache__
Carme-Frontend/Carme-Django/webfrontend/projects/__pycache__
Carme-Frontend/Carme-Django/webfrontend/profiles/__pycache__
Carme-Frontend/Carme-Django/webfrontend/carme/migrations/__pycache__
Carme-Frontend/Carme-Django/webfrontend/carme/highcharts/__pycache__
Carme-Frontend/Carme-Django/webfrontend/carme/templatetags/__pycache__
Carme-Frontend/Carme-Django/webfrontend/projects/migrations/__pycache__
Carme-Frontend/Carme-Django/webfrontend/profiles/migrations/__pycache__
Carme-Frontend/Carme-Django/webfrontend/projects/templatetags/__pycache__

Carme-Proxy/traefik-conf/static.toml
Carme-Proxy/traefik-conf/traefik.toml

Carme-Proxy/SSL
Carme-Scripts/SSL
Carme-Backend/SSL
Carme-Backend/Python/dist

# Python packaging
*.egg-info/