CarmeConfig
CarmeConfig.frontend*
CarmeConfig.container*
CarmeConfig.backend*

*.bak
*.new

*.bak
*.new

*.crt
*.csr
*.key

*.simg

*~
*.swp

*.DS_Store

tmp

*.out

*.pyc

maintenance_mode_state.txt

dist_*

zabbix-graphs/

__pycache__/

local_bash_functions/

local-messages/

