/*------------------*/
/*--- Login page ---*/
/*------------------*/

.login {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:-moz-placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:-moz-placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:-ms-input-placeholder) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge */
@supports (-ms-ime-align: auto) {
  .form-label-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .form-label-group label {
    position: static;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/*---------------*/
/*--- General ---*/
/*---------------*/

/* 403 unauthorized Error */
.error-template {
   padding: 40px 15px;
   text-align: center;
}
.error-actions {
   margin-top:15px;
   margin-bottom:15px;
}
.error-actions .btn {
   margin-right:10px;  
}

/* main background */
.bg-main {
   background-color: #f6f8fa;
}

/* main box frame */
#boxframe-main {
    background-color: white;
    margin-top: 50px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); 
    border-radius: 14px; 
    padding: 15px;
}

/* footer container */
.container-footer{
   padding: 2px 5px 0px 5px;
   margin: 2px 5px 0px 5px;
}

/* footer font-awesome w/o underline */
.text-decoration-none:hover{
   text-decoration: none;
}

/* footer is fixed to the bottom of the page */
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* Padding top to include navbar */
.space-top{
   padding-top: 56px;
}

/*-----------------*/
/*--- Wiki page ---*/
/*---------------- */

/* ovewrites sidebar class in wiki-bootstrap.min.css */
.wiki-article div.article-list {
  max-width: none;
}  

/* ovewrites <pre> class in wiki-bootstrap.min.css */
.wiki-article pre{
  max-width: none;
}
