{% load static %}

<script src="{% static 'components/jquery/jquery.min.js' %}"></script>
<script src="{% static 'components/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'components/overlayscrollbars/js/OverlayScrollbars.min.js' %}"></script>
<script src="{% static 'components/highcharts/highcharts.js' %}"></script>
<script src="{% static 'components/highcharts/highcharts-more.js' %}"></script>
<script src="{% static 'components/highcharts/accessibility.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>


<script type="text/javascript">
		if (!$) console.error('jQuery is required!');
		else {
				$(document).on('submit', 'form.ajax', function (event) {
						// source: https://www.sanwebe.com/2016/07/ajax-form-submit-examples-using-jquery
						event.preventDefault(); //prevent default action
						var post_url = $(this).attr("action"); //get form action url
						var request_method = $(this).attr("method"); //get form GET/POST method
						var form_data = $(this).serialize(); //Encode form elements for submission
						$.ajax({
								url: post_url,
								type: request_method,
								data: form_data
						}).fail(function () {
								console.error('Request to ' + post_url + ' failed. Please try again.');
						}).always(function () {
										setTimeout(function () {
										//document.location.reload();
										}, 1000);
								});
				});
		}
</script>
