{% load static %}

<script src="{% static 'components/jquery/jquery.min.js' %}"></script>
<script src="{% static 'components/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'components/overlayscrollbars/js/OverlayScrollbars.min.js' %}"></script>
<script src="{% static 'components/highcharts/highcharts.js' %}"></script>
<script src="{% static 'components/highcharts/highcharts-more.js' %}"></script>
<script src="{% static 'components/highcharts/accessibility.js' %}"></script>
<script src="{% static 'components/theme/theme.js' %}"></script>
