{% comment %}
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
# admin_job_table.html                                                                                                                                                                      
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
{% endcomment %}

{% load static %}
{% load timetags %}
{% load mathfilters %}

{% for slurm, job in slurm_list %}
<tr class="dashboard-jobtable border-bottom-solid" data-jobid="{{ job.slurm_id }}">
	<td>{{ job.slurm_id }}</td>
	<td>{{ job.user }}</td>
	<td>{{ job.name|truncatechars:20 }}</td>
	<td>{{ job.image_name }}</td>
	<td><span class="i-orange py-1 px-2 rounded-circle fs--1 fw-700">{{ job.num_nodes}}</span></td>
 <td><span class="i-cyan py-1 px-2 rounded-circle fs--1 fw-700">{{ slurm.cpus_req | intdiv:job.num_nodes }}</span></td>
	<td><span class="i-blue py-1 px-2 rounded-circle fs--1 fw-700">{{ job.num_gpus }}</span>
					<span class="i-blue py-1 px-2 rounded-pill-3 fs--2 fw-400">{{ job.gpu_type | upper }}</span></td>
	<td>{% if job.status == 'running' %}
						<i class="fas fa-check text-success"></i>
						<span class="sr-only job-status">Running</span>
					{% else %}
						<i class="fas fa-cog fa-spin text-secondary"></i>
						<span class="sr-only job-status">Queued</span>
					{% endif %}</td>
	<td>{% if job.status == "running" %}                 
   			<div class="progress mt-3" style="height:12px;">
							<div class="progress-bar bg-used" id="p{{ job.slurm_id }}" role="progressbar" aria-valuemin="0" ></div> 
						</div>
						<div class="d-flex flex-row justify-content-between">                                                                                        
  					<div><span class="badge fs--3 fw-400 text-body">{{ slurm.time_start | print_timestamp_small }}</span></div>                                
  					<div><span class="badge fs--3 fw-400 text-body">{{ slurm.timelimit | mul:60 | add:slurm.time_start | print_timestamp_small }}</span></div> 
						</div>
					{% else %}                                                                                                        
 					<div class="progress mt-3 mb-3" style="height:12px;"                                                             
      					data-container="body"                                                                                       
      					data-toggle="popover"                                                                                       
      					data-html="true"                                                                                            
      					data-placement="top"                                                                                        
      					data-trigger="hover"                                                                                        
      					data-content='<span class="fs--3 fw-400 text-body">Submit Time:</span>                                      
                    					<span class="fs--3 fw-400 text-body"> {{slurm.time_submit | print_timestamp_small }}</span>'> 
							<div class="progress-bar bg-used" id="p{{ job.slurm_id }}" role="progressbar" style="width: 0%"
												aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
							</div>
						</div>
						<div class="d-flex flex-row justify-content-between">           
  					<div><span class="badge fs--3 fw-400 text-body"></span></div>
						</div>
					{% endif %}</td> 
	<td>{% if job.status == 'running' %}
						<div class="carme-job-light" style="display:none;">
    			<a href="/ta_{{ job.url_suffix }}/" 
										onclick="w=window.open(this.href, '_blank'); (w.onload=function(){w.document.title='{{job.name}}';})(); return false;" 
										target="_blank"  style="text-decoration:none;">
      				<img src="{% static 'img/logo/theia-light.svg' %}" alt="Theia" >
      	</a>
      	<a href="/nb_{{ job.url_suffix }}/lab/workspaces/{{ job.slurm_id }}" 
										onclick="w=window.open(this.href, '_blank'); (w.onload=function(){w.document.title='{{job.name}}';})(); return false;" 
										target="_blank" style="text-decoration:none;">
      				<img src="{% static 'img/logo/jupyter-light.svg' %}" alt="Jupyter" />
      	</a> 
    		</div>

    		<div class="carme-job-dark" style="display:none;">
    			<a href="/ta_{{ job.url_suffix }}/" 
										onclick="w=window.open(this.href, '_blank'); (w.onload=function(){w.document.title='{{job.name}}';})(); return false;" 
										target="_blank" style="text-decoration:none;">
      				<img src="{% static 'img/logo/theia-dark.svg' %}" alt="Theia" />
      	</a>
      	<a href="/nb_{{ job.url_suffix }}/lab/workspaces/{{ job.slurm_id }}" 
										onclick="w=window.open(this.href, '_blank'); (w.onload=function(){w.document.title='{{job.name}}';})(); return false;" 
										target="_blank" style="text-decoration:none;">
        		<img src="{% static 'img/logo/jupyter-dark.svg' %}" alt="Jupyter" />
      	</a>
    		</div>
					{% else %}
						---
					{% endif %}</td>
	<td>{% if job.status == 'running' %}
							<!-- <modal> -->                                                                                                                      
							<button type="button" class="btn btn-secondary"	data-bs-toggle="modal" data-bs-target="#jobinfoModal{{ job.slurm_id }}">                                                                   
  						<i class="fas fa-info fa-fw"></i>                                                                                                                
							</button>                                                                                                                                          
                                                                                                                                   
						 <div class="modal fade" id="jobinfoModal{{ job.slurm_id }}" tabindex="-1">
							 <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">                  
  						 <div class="modal-content">
                                                                      
    						<div class="modal-header">                                                                     
      						<h5 class="mb-0 py-0 fs-0 fw-400 text-header">      
       							<i class="fas fa-info-circle"></i> Job {{ job.slurm_id }}                
      						</h5>                                                                                        
      						<button type="button" class="btn-close" data-bs-dismiss="modal"></button> 
										</div>
										                                                    
										<div class="modal-body">                                  
  									<div class="container">                            
    								<p class="pb-4 fs--1 fw-400 text-body">
													<span class="float-start">                                                             
    										<b class="pe-1">Time left:</b>                                                               
    										<span id="hours{{ job.slurm_id }}"></span>                                           
    										<span id="mins{{ job.slurm_id }}"></span>                                            
    										<span id="secs{{ job.slurm_id }}"></span>                                            
    										<span id="end{{ job.slurm_id }}"></span>                                             
  											</span>                                                                                
  											<span class="float-end">                                                               
    										<b class="pe-1">Runtime limit:</b> {{slurm.timelimit | div:60}} hours                        
  											</span>                                                                                
												</p>                                                                                     
          
												<!-- <scrollbar-table> -->
												<div class="scrollbar-overlay os-host-flexbox">                                                                               
													<div class="table-responsive">                                                           
  												<table class="table table-sm mb-0 overflow-hidden align-middle fs--1 fw-400 text-center text-body"> 
															<thead>                                                                                                                                  
  														<tr>                                                                                                                                   
    													<th style="min-width: 4.0rem;">ID</th>                                                                                                     
    													<th style="min-width: 4.5rem;">Name</th>                                                                                                   
    													<th style="min-width: 4.0rem;">Partition</th>                                                                                              
    													<th style="min-width: 9.0rem;">Submit / Start / End</th>                                                  
    													<th style="min-width: 4.0rem;">Status</th>                                                                                                 
    													<th style="min-width: 4.0rem;">Memory</th>                                                                                                 
    													<th style="min-width: 4.0rem;">Image</th>                                                                                                  
    													<th style="min-width: 6.5rem;">Node Name</th>                                                                                              
    													<th style="min-width: 4.0rem;">Nodes</th>                                                                                                  
    													<th style="min-width: 4.0rem;"><span class="frac">
																																																	<sup>CPUs</sup>
																																																	<span>&frasl;</span>
																																																	<sub>node</sub>
																																																</span></th>                           
    													<th style="min-width: 6.0rem;"><span class="frac">
																																																	<sup>GPUs</sup>
																																																	<span>&frasl;</span>
																																																	<sub>node</sub>
																																																</span></th>
																</tr>
															</thead>                                                                                                                                 
															<tbody>                                                                                                                                  
  														<tr>                                                                                                                                   
    													<td>{{ job.slurm_id }}</td>                                                                                     
    													<td>{{ job.name }}</td>                                                                                         
    													<td>{{ slurm.partition }}</td>                                                                                  
    													<td><p class="mb-0">{{ slurm.time_submit | print_timestamp }}</p>                                                                      
      															<p class="mb-0">{{ slurm.time_start | print_timestamp }}</p>                                                                       
      															<p class="mb-0">{{ slurm.time_end | print_timestamp }}</p></td>
																	<td>{% if job.status == "running" %}
																						<i class="fas fa-check fa-fw text-success"></i>                                                                                  
        														<span class="sr-only">Running</span>                                                                                             
      															{% else %}                                                                                                                         
        														<i class="fas fa-cog fa-spin fa-fw text-secondary"></i>                                                                          
        														<span class="sr-only">Queued</span>                                                                                              
      															{% endif %}</td>                                                                                                                                
    													<td>{{ slurm.mem_req }}</td>                                                                                    
    													<td>{{ job.image_name }}</td>                                                                                   
    													<td>{{ slurm.nodelist }}</td>                                                                                   
    													<td><span class="i-orange py-1 px-2 rounded-circle fs--1 fw-700">{{ slurm.nodes_alloc}}</span></td>
																	{% if slurm.nodes_alloc %}
																	<td><span class="i-cyan py-1 px-2 rounded-circle fs--1 fw-700">{{ slurm.cpus_req | intdiv:slurm.nodes_alloc }}</span></td>                             
    													{% endif %}
																	<td><span class="i-blue py-1 px-2 rounded-circle fs--1 fw-700">{{job.num_gpus}}</span>
																					<span class="i-blue py-1 px-2 rounded-pill-3 fs--2 fw-400">{{ job.gpu_type | upper }}</span></td> 
																</tr>
															</tbody>
														</table>
													</div>
												</div>
            <!-- </scrollbar-table> -->
											
											</div>
										</div>
										                                                                                         
										<div class="modal-footer">                                              
  										<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
										</div>

								 </div>
						  </div>
				   </div>
					{% else %}
							---
					{% endif %}</td>                                                            
	<td><form class="ajax" action="{% url 'stop_job' %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="jobID" value="{{job.slurm_id}}">
						<input type="hidden" name="jobName" value="{{job.name}}">
						<input type="hidden" name="jobUser" value="{{job.user}}">
						<button class="btn btn-primary" type="submit">
							<i class="fa fa-stop fa-fw" aria-hidden="true"></i>
						</button>
					</form></td>

{% if job.status == 'running' %}                                      
<script>                                                              
                                                                      
  function setUpProgressBar(selector, startTime, endTime, update) {   
                                                                      
    var timer                                                         
    var elem = document.querySelector(selector)                       
    var max = endTime - startTime                                     
                                                                      
    /*elem.max = max*/                                                
    elem.ariaValueMax = max                                           
    var setValue = function() {                                       
      /*var currentTime = new Date().getTime()*/                      
      var currentTime = new Date().getTime()/1000 | 0                 
      var ellasped = currentTime - startTime                          
                                                                      
                                                                      
      if (ellasped >= max) {                                          
        ellasped = max                                                
        window.clearTimeout(timer)                                    
      }                                                               
      elem.ariaValueNow = ellasped                                    
      var prec = ellasped/max * 100                                   
      elem.setAttribute("style", 'width: ' + prec.toFixed(2) + '%')   
      /*elem.setAttribute("data-label", prec.toFixed(2) + '%')*/      
    }                                                                 
                                                                      
    setValue()                                                        
    timer = window.setInterval(setValue, update)                      
    return                                                            
  }                                                                   
                                                                      
  /*var start1 = new Date()*/                                         
  var start1 = "{{ slurm.time_start }}"                               
                                                                      
  /*var end1 = new Date()*/                                           
  var end1 = "{{ slurm.timelimit | mul:60 | add:slurm.time_start }}"  
                                                                      
  setUpProgressBar("#p{{ job.slurm_id }}", start1, end1, 1000)        
                                                                      
  function n(n){                                                      
    return n > 9 ? "" + n: "0" + n;                                   
  }                                                                   
                                                                      
  var myfunc = setInterval(function() {                               
    var end1 = "{{ slurm.timelimit | mul:60 | add:slurm.time_start }}"
				var currentTime = new Date().getTime()/1000 | 0                                
				var remaining = end1 - currentTime                                             
				var hours = Math.floor(remaining  / ( 60 * 60));                               
				var minutes = Math.floor((remaining % (60 * 60)) / (60));                      
				var seconds = Math.floor(remaining % 60 );                                     
                                                                                                                                                              
				// Result is output to the specific element                                    
				document.getElementById("hours{{ job.slurm_id }}").innerHTML = hours + "h "    
				document.getElementById("mins{{ job.slurm_id }}").innerHTML = n(minutes) + "m "
				document.getElementById("secs{{ job.slurm_id }}").innerHTML = n(seconds) + "s "

				// Display the message when countdown is over                                  
				if (remaining < 0) {                                                           
    		clearInterval(myfunc);                                                     
    		document.getElementById("hours{{ job.slurm_id }}").innerHTML = ""          
    		document.getElementById("mins{{ job.slurm_id }}").innerHTML = ""           
    		document.getElementById("secs{{ job.slurm_id }}").innerHTML = ""           
    		document.getElementById("end{{ job.slurm_id }}").innerHTML = "Time up!!";  
				}
		}, 1000);
</script>
{% endif %}
</tr>
{% endfor %}
