{% load static %}

{% if CARME_GPU_TYPE_LIST|length > 1 %}
    {% for gpu in gpu_loop %}
        <script>
            $.get('line_chart_json_forecast{{forloop.counter0}}', function (data) {
                data["chart"] = {
                type: "areaspline",
                };
                data["legend"] = {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'top',
                    floating: false,
                };
                data["plotOptions"] = {
                    areaspline: {
                        fillOpacity: 0.2
                    }    
                };
                $("#myForecastChart{{forloop.counter0}}").highcharts(data);
            });
        </script>
    {% endfor %}
{% elif  CARME_GPU_TYPE_LIST|length == 1 %}
        <script>
            $.get('line_chart_json_forecast0', function (data) {
                data["chart"] = {
                type: "areaspline",
                };
                data["legend"] = {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'top',
                    floating: false,
                };
                data["plotOptions"] = {
                    areaspline: {
                        fillOpacity: 0.2
                    }    
                };
                $("#myForecastChart0").highcharts(data);
            });
        </script>
{% else %}
        <script>
            console.log('GPU_TYPE is empty')
        </script>
{% endif %}
