{% load static %}

{% if gputype|length > 1 %}
   
        <script>
            function myForecastChart() {
                {% for gpu in gpu_loop %}
                $.get('line_chart_json_forecast{{forloop.counter0}}', function (data) {
                    data["chart"] = {
                    type: "areaspline",
                    backgroundColor: getGrays()[''],
                    };
                    data["legend"] = {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'top',
                        floating: false,
                        itemStyle: {
                            color: getGrays()['black']
                         },
                    };
                    data["plotOptions"] = {
                        areaspline: {
                            fillOpacity: 0.2
                        }    
                    };
    
                    $("#myForecastChart{{forloop.counter0}}").highcharts(data);
                });
                {% endfor %}
            };

            themeController.addEventListener(
                "clickControl",
                ({ detail: { control, value } }) => {
                   
                  if (control === "theme") {
                        myForecastChart();
                  }
                }
              );
    
              myForecastChart();
            
        </script>
 
{% elif  gputype|length == 1 %}
        <script>
        
            function myForecastChart() {

                $.get('line_chart_json_forecast0', function (data) {
                    data["chart"] = {
                    type: "areaspline",
                    backgroundColor: getGrays()[''],
                    };
                    data["legend"] = {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'top',
                        floating: false,
                        itemStyle: {
                            color: getGrays()['1000']
                        },
                    };
                    data["plotOptions"] = {
                        areaspline: {
                            fillOpacity: 0.2
                        }    
                    };

                    $("#myForecastChart0").highcharts(data);
                });
            };


            themeController.addEventListener(
                "clickControl",
                ({ detail: { control, value } }) => {
                        
                  if (control === "theme") {
                        myForecastChart();
                  }
                }
              );
    
              myForecastChart();


        </script>
{% else %}
        <script>
            console.log('GPU_TYPE is empty')
        </script>
{% endif %}

