<script type="text/javascript">

window.onload = function() {
    if (window.jQuery) {  
        // jQuery is loaded  
    } else {
        // jQuery is not loaded
        alert("Carme error: jQuery");
    }
}

$(document).ready( function() {
								$("#jobtable").load('/carme-base/JobTable/').fadeIn('fast');
        refresh();
																});

function refresh()
{
    setTimeout( function() {
    $("#jobtable").load('/carme-base/JobTable/').fadeIn('fast');
    refresh();
				}, 3000);	
}

</script>

