<!---
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
-->

<!-- <script src="http://code.jquery.com/jquery-latest.js"></script> 
<script src="{{ STATIC_URL }}/jquery-latest.js"></script> -->
<script type="text/javascript">
/*var myVar = setInterval(function(){ myTimer() }, 3000);

window.onload = function() {
								{% if user.is_authenticated %} 
								document.getElementById("jobtable").innerHTML='<object name="jobob" type="text/html" width="100%" height="{{ jobheight }}" data="/carme-base/JobTable/" width=100%></object>';
								{% else %}	
								document.getElementById("jobtable").innerHTML='<b><font color=red>Session expired!</font>Please <a href="{% url 'login' %}"><b>LOG IN</b></a>';
								{% endif %} 
}

function myTimer() {
								{% if user.is_authenticated %}
								document.getElementById("jobtable").innerHTML='<object name="jobob" type="text/html" width="100%" height="{{ jobheight }}" data="/carme-base/JobTable/" width=100%></object>'; 
								{% else %}
								document.getElementById("jobtable").innerHTML='<b><font color=red>Session expired!</font>Please <a href="{% url 'login' %}"><b>LOG IN</b></a>';
								{% endif %}

} */
</script>

