{% load static %}
{% load timetags %}

{% if mylist_long %}

<div class="container">

	<p class="pb-4 fs--1 fw-400 text-body">
		<span class=" float-end">
			<b class="pe-1">Total job runtime:</b> {{job_time}} hours
		</span>
	</p>

	<div class="table-responsive scrollbar-overlay">	           
		<table class="table table-sm mb-0 overflow-hidden align-middle fs--1 text-center text-body">
			<thead>
				<tr class="border-bottom-double">
					<th style="min-width: 4.0rem;">ID</th>
					<th style="min-width: 4.5rem;">Name</th>
					<th style="min-width: 4.0rem;">Partition</th>
					<th style="min-width: 9.0rem;" >Submitted / Ended</th>
					<th style="min-width: 5.5rem;">Exit code</th>
					<th style="min-width: 4.0rem;">Memory</th>
					<th style="min-width: 4.0rem;">Image</th>
					<th style="min-width: 6.5rem;">Node Name</th>
					<th style="min-width: 4.0rem;">Nodes</th>
					<th style="min-width: 4.0rem;"><span class="frac">
																																					<sup>CPUs</sup>
																																					<span>&frasl;</span>
																																					<sub>node</sub>
																																				</span></th>
					<th style="min-width: 6.0rem;"><span class="frac">
																																					<sup>GPUs</sup>
																																					<span>&frasl;</span>
																																					<sub>node</sub>
																																				</span></th>
				</tr>
			</thead>
			<tbody>
				{% for job, slurm in mylist_long %}
				<tr class="border-bottom-solid">
					<td>{{ job.id_job }}</td>
					<td>{{ job.job_name }}</td>
					<td>{{ job.partition }}</td>
					<td><p class="mb-0">{{ job.time_submit | print_timestamp }}</p>
									<p class="mb-0">{{ job.time_end | print_timestamp }}</p></td>
					<td>{% if job.exit_code == 0 %}
										<i class="fa fa-check fa-fw text-success"></i>
									{% else %}
										<i class="fa fa-times fa-fw text-danger"></i>
									{% endif %}</td>
					<td>{{ job.mem_req }}</td>
					<td>{{ slurm.image_name }}</td>
					<td>{{ job.nodelist }}</td>
					<td><span class="i-orange py-1 px-2 rounded-circle fs--1 fw-700">{{ job.nodes_alloc}}</span></td>
					<td><span class="i-cyan py-1 px-2 rounded-circle fs--1 fw-700">{% widthratio job.cpus_req slurm.num_nodes 1 %}</span></td>
					<td><span class="i-blue py-1 px-2 rounded-circle fs--1 fw-700">{{slurm.num_gpus}}</span> 
									<span class="i-blue py-1 px-2 rounded-pill-3 fs--2 fw-400">{{ slurm.gpu_type | upper }}</span></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<p class="pt-3 fs--1 fw-400 text-body">
		<span class="float-start">
			{% if mylist_long|length < 21 %}  
 			Table shows all jobs.            
			{% else %}                        
 			Table shows the last 2           
			{% endif %}
		</span>
	</p> 

</div>
{% endif %}
