<!---
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
-->

{% load static %}
{% if maintenance_mode %}
<div class="main-container">
	<div class="row my-2">
		<div class="alert alert-danger" role="alert">Maintenance mode activated - user access denied.</div>
	</div>
</div>
{% endif %} 

