{% comment %}
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
#
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
{% endcomment %}

{% if maintenance_mode %}
	{% if user.is_superuser %}
		<div class="container">
			<div class="row text-center">
				<div class="col-12 col-md-8 offset-md-2">
					<div class="alert alert-warning d-inline-block py-2" role="alert">
						<i class="fa fa-exclamation-triangle fa-fw pe-1"></i>
						Maintenance mode on - user access denied.
					</div>
				</div>
			</div>
		</div>
	{% else %}
 	<script>
 		window.location.replace("/logout/");
 	</script>
 	{% endif %}
{% endif %} 

