{% comment %}
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
#
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
{% endcomment %}

{% load static %}

<!doctype html>
<html lang="en">

<head></head>

<body>
	{% for message in message_list %}
		{% if message.color == "red" %}
			<div data-messageid="{{ message.id }}" class="alert alert-danger" role="alert">{{ message.message }}</div>
		{% elif message.color == "#e8be17" %}
			<div data-messageid="{{ message.id }}" class="alert alert-info" role="alert">{{ message.message }}</div>
		{% else %}
			<div data-messageid="{{ message.id }}" class="alert alert-success" role="alert">{{ message.message }}</div>
		{% endif %}
	{% endfor %}
</body>

</html>
