<!---
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
-->

{% load static %}

{% if message_list %}
<div class="main-container">
    <table>
        {% for mes in message_list %}
        <tr>
                <td><img src="{% static "warning.jpg" %}" alt="Message" style="width:1.1em;"/><td>
                <td><h2>{{mes.text}}</h2></td>
                <td>
                        {% if user.is_superuser %}
                        <form action="/carme-base/DeleteMessage/" method="post">{% csrf_token %}{{ delete_message_form }}
                                <input type="hidden" name="messageID" value="{{mes.id}}">
                                <input type="submit" value="Delete" />
                        </form>
                        {% endif %}
                </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

