[Unit]
Description=Carme Backend
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /opt/Carme/Carme-Backend/Python/carme_backend.py
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
