[Unit]
Description=Carme Proxy
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/singularity run -B "/var/lib/carme/proxy/routes:/opt/traefik/routes" -B "/var/log/carme/proxy:/var/log/traefik" "/opt/Carme/Carme-ContainerImages/Carme-Proxy-Container/proxy.simg"

[Install]
WantedBy=multi-user.target
