#table-wrapper {
								position:relative;
}
#table-scroll {
								height:250px;
								overflow:auto;  
								margin-top:20px;
}
#table-wrapper table {
								width:75%;

}
#table-wrapper table * {
								background:white;
								color:black;
}
#table-wrapper table thead th .text {
								position:absolute;   
								top:-20px;
								z-index:2;
								height:20px;
								width:35%;
								border:1px solid #64C85C;
}

/* unvisited link */
a:link {
								color: #006EFF;
								text-decoration: none;
}

/* visited link */
a:visited {
								color: #006EFF;
								text-decoration: none;
}

/* mouse over link */
a:hover {
								color: #006EFF;
								text-decoration: none;
}

/* selected link */
a:active {
								color: black;
								text-decoration: none;
}

.zabbix {
								position: relative;
}
#clip {
								position: absolute;
								clip: rect(0, 1000px, 290px, 0);
								/* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}

/****** Footer container *****/
.menue-container{         
								background-color: #FFFFFF;
								margin: 0 auto;
								display: inline;
								border-radius: 5px;
								border: 1px solid gray; 
								box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); 
								font-family: roboto;
								padding: 2px 5px; 
								text-align: center;
}                       

.menue-action-container{
								background-color: #FFFFFF; 
								margin: 0 auto; 
								display: inline; 
								border-radius: 5px; 
								border: 1px solid gray; 
								box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);  
								font-family: roboto;
								padding: 2px 5px; 
								text-align: center; 
								font-weight: bold;
}                     

.menue-action-container:hover{
								border: 2px solid #006EFF;
								color: #006EFF;
} 

.footer-container{
								background-color: #FFFFFF;
								margin: 0 auto;
								width:1200px;
								border-radius: 10px;
								border: 1px solid gray;
								box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
								font-family: roboto;
								padding: 5px 10px; 
}

.header-container{ 
								background-color: #FFFFFF; 
								margin: 0 auto;
								width:1200px; 
								border-radius: 10px; 
								border: 1px solid gray;
								box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); 
								font-family: roboto;
								padding: 5px 10px;   
								display: table;
								border-spacing: 5px;
}               

.main-container{ 
								background-color: #FFFFFF;
								margin: 0 auto; 
								width:1200px; 
								border-radius: 10px; 
								border: 1px solid gray;
								box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);  
								font-family: roboto;
								padding: 5px 10px;
								display: table;
								border-spacing: 10px; 
}                 

.double-container{  
								background-color: #FFFFFF;
								margin: 0 auto;
								width:1220px;
								border-radius: 0px; 
								border: 0px solid gray;  
								box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
								font-family: roboto;
								padding: 0px 0px;
								display: table; 
}   

.double-space{                                                                                                                                                                                                 
								background-color: #FFFFFF; 
								margin: 0 auto;
								width:10px; 
								border-radius: 10px;    
								border: 0px solid gray; 
								box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
								font-family: roboto;
								padding: 0px 0px; 
								display: table-cell;
}

.time-out-container{
								background-color: red;                                                                                                                                                                                 
								margin: 0 auto;
								width:800px;
								border-radius: 10px;  
								border: 1px solid gray;  
								box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);  
								font-family: roboto;
								padding: 10px 10px;  
}                               
.news-container{
								background-color: #FFFFFF;
								margin: 0 auto;
								width:300px;
								border-radius: 10px;  
								border: 1px solid gray; 
								box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);  
								font-family: roboto;
								padding: 5px 10px;
								display: table-cell;
								border-spacing: 10px;

} 

.tool-container{ 
								width: 80px;
								background-color: #FFFFFF; 
								margin: 0 auto; 
								border: 1px solid black;
								border-radius: 10px;  
								box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);   
								font-family: roboto;
								padding: 5px 5px; 
								display: table-cell;
								text-align: center;
}       

.tool-container:hover{
								border: 2px solid #006EFF;
								box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
        color: #006EFF;
}

.maintenance-off-container{
								width: 80px; 
								background-color: #FFFFFF;
								margin: 0 auto;
								border: 4px solid green;
								border-radius: 10px;
								box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); 
								font-family: roboto; 
								padding: 5px 5px; 
								display: table-cell;
								text-align: center;  
        color: black;
}


.maintenance-off-container:hover{ 
								border: 4px solid red; 
								box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
								color: black;
}                            

.maintenance-on-container{
								width: 80px;  
								background-color: #FFFFFF;
								margin: 0 auto; 
								border: 4px solid red; 
								border-radius: 10px;   
								box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
								font-family: roboto;
								padding: 5px 5px;
								display: table-cell;     
								text-align: center;
								color: black;
} 


.maintenance-on-container:hover{
								border: 4px solid green; 
								box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
								color: black;
}                                                   


/****** FORMS *****/
/* remove standard-styles */
input, select, textarea {
								-webkit-appearance: none;
								-moz-appearance: none;
								appearance: none;
								border:none;
								border-radius: 0;
								font-size: 1em;
} 

/* Input & Textarea */
input, textarea {
								background-color:white;
								border: 1px solid black;
								border-radius: 5px; 
								padding:.5em .5em .5em .5em;
}

textarea {
								resize:vertical;
}

input:hover,
input:active,
textarea:hover,
textarea:active {
								box-shadow: 0 1px 1px 0 rgba(0,0,0,0.7);   
								border: 2px solid #64C85C;
}

/* Select */
select {
								border: 1px solid black;
								border-radius: 5px;
								padding:.5em 2em .5em .5em;
								background-color:white;
								background-image:url(notebook.jpg);
								background-position: right;
								background-size: 1.5em 1.5em;
								background-repeat: no-repeat;
}

select:hover {
								box-shadow: 0 1px 1px 0 rgba(0,0,0,0.7);
								border: 2px solid #64C85C;
}

.start-job input[type=submit] {
								border: 0px solid black;
								border-radius: 5px; 
								padding: .5em 2em .5em .5em;
								background-color:white; 
								background-image:url(play.jpg);
								background-position: center;
								background-size: 1.75em 1.75em;
								background-repeat: no-repeat;  
}

.start-job input[type=submit]:hover {
								background-size: 2.25em 2.25em;
								box-shadow: 0 0 0 0 rgba(0,0,0,0.7); 
}


.set-password input[type=password] {   
        width: 300px;                                                                                                                                                                      
        font-weight: bold;   
        border: 1px solid black;
        border-radius: 5px;
        padding: .5em 2em .5em .5em; 
        background-color:white; 
}      
.set-password input[type=submit] { 
        font-weight: bold;                                                                                                                                                                            
        border: 1px solid black; 
        border-radius: 5px; 
        padding: .5em 2em .5em .5em;
        background-color:white;

}

.set-password input[type=submit]:hover {
        box-shadow: 2 2 2 2 rgba(0,0,0,0.7); 
								border: 2px solid red;                                                                                                                                                                      
}                           

/****** LOGIN MODAL ******/
.loginmodal-container {
								padding: 30px;
								max-width: 350px;
								width: 100% !important;
								background-color: #F7F7F7;
								opacity: 0.9;
								margin: 0 auto;
								border-radius: 10px;
								box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
								overflow: hidden;
								font-family: roboto;
}

.loginmodal-container h1 {
								text-align: center;
								font-size: 1.8em;
								font-family: roboto;
}

.loginmodal-container input[type=submit] {
								width: 100%;
								display: block;
								margin-bottom: 10px;
								position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
								height: 44px;
								font-size: 16px;
								width: 100%;
								margin-bottom: 10px;
								-webkit-appearance: none;
								background: #fff;
								border: 1px solid #d9d9d9;
								border-top: 1px solid #c0c0c0;
								border-radius: 5px; 
								padding: 0 8px;
								box-sizing: border-box;
								-moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
								border: 1px solid #b9b9b9;
								border-top: 1px solid #a0a0a0;
								-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
								-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
								box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
								text-align: center;
								font-size: 14px;
								font-family: 'Arial', sans-serif;
								font-weight: 700;
								height: 36px;
								padding: 0 8px;
								border-radius: 5px;
								/* -webkit-user-select: none;
								user-select: none; */
}

.loginmodal-submit {
								/* border: 1px solid #3079ed; */
								border: 0px;
								color: #fff;
								text-shadow: 0 1px rgba(0,0,0,0.1); 
								background-color: #4d90fe;
								padding: 17px 0px;
								font-family: roboto;
								font-size: 14px;
								border-radius: 5px;
								/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
								/* border: 1px solid #2f5bb7; */
								border: 0px;
								text-shadow: 0 1px rgba(0,0,0,0.3);
								background-color: #357ae8;
								/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
								text-decoration: none;
								color: #666;
								font-weight: 400;
								text-align: center;
								display: inline-block;
								opacity: 0.6;
								transition: opacity ease 0.5s;
} 

.login-help{
								font-size: 12px;
}

.login-background{
								background-image: url("itwm.jpg");
								background-position: center; /* Center the image */
								background-repeat: no-repeat; /* Do not repeat the image */
								background-size: cover; 
								height: 400px;
								width: 1220px;
								margin: 0 auto;
								padding: 70px 0;
								border-radius: 10px;
								box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

/* table ******************************/
table.JobHistTable {
								border: 2px solid #FFFFFF;
								width: 100%;
								text-align: center;
								border-collapse: collapse;
}
table.JobHistTable td, table.JobHistTable th {
								border: 1px solid #FFFFFF;
								padding: 3px 4px;
}
table.JobHistTable tbody td {
								font-size: 13px;
}

table.JobHistTable tbody tr {
        font-size: 13px; 
}     

table.JobHistTable tbody tr:hover {
        font-weight: bold;
}     
table.JobHistTable td:nth-child(even) {
								background: #EBEBEB;
}
table.JobHistTable thead {
								background: #FFFFFF;
								border-bottom: 4px solid #333333;
}
table.JobHistTable thead th {
								font-size: 15px;
								font-weight: bold;
								color: #333333;
								text-align: center;
								border-left: 2px solid #333333;
}
table.JobHistTable thead th:first-child {
								border-left: none;
}

table.JobHistTable tfoot {
								font-size: 14px;
								font-weight: bold;
								color: #333333;
								border-top: 4px solid #333333;
}
table.JobHistTable tfoot td {
								font-size: 14px;
}

table.JobTable {                                                                                                                                                                                               
        border: 2px solid #FFFFFF;                                                                                                                                                                                 
        width: 100%;                                                                                                                                                                                               
        text-align: center;                                                                                                                                                                                        
        border-collapse: collapse;                                                                                                                                                                                 
}                                                                                                                                                                                                                  
table.JobTable td, table.JobHistTable th {                                                                                                                                                                     
        border: 1px solid #FFFFFF;                                                                                                                                                                                 
        padding: 3px 4px;                                                                                                                                                                                          
}                                                                                                                                                                                                                  
table.JobTable tbody td {                                                                                                                                                                                      
        font-size: 13px;                                                                                                                                                                                           
}                                                                                                                                                                                                                  
                                                                                                                                                                                                                   
table.JobTable tbody tr {
        font-size: 13px;                                                                                                                                                                                           
}

table.JobTable tbody tr:hover {                                                                                                                                                                                
        font-weight: bold;                                                                                                                                                                                         
}                                                                                                                                                                                                                  
table.JobTable td:nth-child(even) {                                                                                                                                                                            
        background: #EBEBEB;                                                                                                                                                                                       
}                                                                                                                                                                                                                  
table.JobTable thead {                                                                                                                                                                                         
        background: #FFFFFF;                                                                                                                                                                                       
        border-bottom: 4px solid #333333;                                                                                                                                                                          
}                                                                                                                                                                                                                  
table.JobTable thead th {                                                                                                                                                                                      
        font-size: 15px;                                                                                                                                                                                           
        font-weight: bold;                                                                                                                                                                                         
        color: #333333;                                                                                                                                                                                            
        text-align: center;                                                                                                                                                                                        
        border-left: 2px solid #333333;                                                                                                                                                                            
}                                                                                                                                                                                                                  
table.JobTable thead th:first-child {                                                                                                                                                                          
        border-left: none;                                                                                                                                                                                         
}                                                                                                                                                                                                                  
                                                                                                                                                                                                                   
table.JobTable tfoot {                                                                                                                                                                                         
        font-size: 14px;                                                                                                                                                                                           
        font-weight: bold;                                                                                                                                                                                         
        color: #333333;                                                                                                                                                                                            
        border-top: 4px solid #333333;                                                                                                                                                                             
}                                                                                                                                                                                                                  
table.JobTable tfoot td {                                                                                                                                                                                      
        font-size: 14px;                                                                                                                                                                                           
}                               


