{% extends 'base.html' %}

{% comment %}
# ----------------------------------------------
# Carme
# ----------------------------------------------
# 404.html
#
# see Carme development guide for documentation:
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM
# License: http://open-carme.org/LICENSE.md
# Contact: info@open-carme.org
# ---------------------------------------------
{% endcomment %}

{% load static %}

{% block title %}Carme Home{% endblock %}

{% block content %}
<div class="container">
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1 class="fs-40 fw-900 text-watermark">404</h1>
			</div>
			<h2 class="fs-10 fw-700 text-head">We are sorry, Page not found!</h2>
			<p class="fs-1 fw-400 text-body">The pages you are looking does not exist or is temporarily unavailable.</p>
			<a href="{% url 'index' %}" class="btn btn-primary btn-lg">
				<span class="fas fa-home"></span>
     Back to Homepage 
			</a>                                                                                    
		</div>
	</div>
</div>
{% endblock %}
