{% extends 'base.html' %}

{% comment %}
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
# 503.html                                                                                                                                                                     
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
{% endcomment %}

{% load static %}

{% block title %}Carme Home{% endblock %}

{% block content %}
<div class="container"> 
	<h1 class="h1">Error - this page does not exits.</h1>
</div>
{% endblock %}
