{% extends 'base.html' %}

{% comment %}
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
# admin_job_table.html                                                                                                                                                                      
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
{% endcomment %}

{% load static %}

{% block title %}Jobs{% endblock %}

{% block content %}

{% if request.user.is_superuser %}
<div class="row mt-2">
		<div class="col-12 mb-4 pb-2">
				<div class="card h-100">
						
						<div class="card-header d-flex justify-content-between">
								<h5 class="mb-0 py-2 fs-0 fw-400 text-header">					
										<i class="fas fa-tasks"></i>
										All jobs
								</h5>
						</div>
						
						<div class="card-body">
								<div class="container my-1">
										<div class="table-responsive">
												<div class="table">
														<table class="table table-sm mb-0 overflow-hidden fs--1 fw-400 text-body text-center align-middle">
																<thead>
																		<tr>
																				<th>ID</th>
																				<th>User</th>
																				<th>Name</th>
																				<th>Image</th>
																				<th>Master node</td>
																				<th>Nodes</td>
																				<th>
																						<span class="frac">
																								<sup>CPUs</sup>
																								<span>&frasl;</span>
																								<sub>node</sub>
																						</span>
																				</th>
																				<th style="min-width: 6.0rem;">
																						<span class="frac">
																								<sup>GPUs</sup>
																								<span>&frasl;</span>
																								<sub>node</sub>
																						</span>
																				</th>
																				<th>Status</th>
																				<th style="min-width: 8.0rem;">Entry points</th>
																				<th>Details</th>
																				<th>Stop</th>
																		</tr>
																</thead>
																<tbody id="jobtable">
																		{% include "blocks/admin_job_table.html" %}
																</tbody>
														</table>
												</div>
										</div>
								</div>
						</div>

				</div>
		</div>
</div>

{% else %}
<div class="container">
		<div class="row">
  		<div class="col-md-12">
    		<div class="error-template">
      		<h1>Oops!</h1>
        <h2 class="display-4">403 Not Authorized</h2>
        <div class="error-details">
        		Sorry, you don't have permissions to access this page!
        </div>
        <div class="error-actions">
        		<a href="{% url 'index' %}" class="btn btn-secondary btn-lg">
												<i class="fas fa-home"></i>
            Take Me Home
										</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}


{% block javascript %}

{% if request.user.is_superuser %}

<script type="text/javascript">
	if (!$) console.error('jQuery is required!');
	else {
		function update_jobtable() {
			$.ajax('/carme/AdminJobTable/', {
				type: "GET",
				statusCode: {
					401: function (response) {
						window.location = '/login/?next=' + window.location.pathname + '&timeout=1';
					}
				}, success: function (data) {
					var entries = $(data);

					entries.each(function( index ) {
						var jobid = $(this).data('jobid');
						var existing = $('#jobtable tr[data-jobid="' + jobid + '"]');



						if(existing.length > 0) {
							if($(this).text() == existing.text()) {
								// content equals, just update csrf
								var newTokens = $(this).find('input[name="csrfmiddlewaretoken"]');
									existing.find('input[name="csrfmiddlewaretoken"]').each(function(index) {
									$(this).val(newTokens[index].value);
								});
							} else {
								// content changed, replace element
								$(this).replaceAll(existing);
							}
						} else {
							// job not existing, add element
							$('#jobtable').append($(this));
						}
					});

					var sel = $(data).map(function() {
						var jobid = $(this).data('jobid');
						return 'tr[data-jobid="' + jobid + '"]';
					}).get().join(',');

					$('#jobtable tr').not(sel).remove();
				}
			});
		}

		setInterval(function () {
			update_jobtable();
		}, 2000);

		$( document ).on( "click", "button.stop-job", function() {
			setTimeout(function() {
				update_jobtable();
			}, 250);
		});
	}
</script>

{% endif %}

{% endblock %}
