{% extends 'base.html' %}

{% comment %}
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
# admin_job_table.html                                                                                                                                                                      
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
{% endcomment %}

{% load static %}

{% block title %}Carme Home{% endblock %}

{% block content %}
<div class="container my-4">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header font-weight-bold"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i>&nbsp; All jobs</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table mb-0 text-center">
							<thead>
								<tr>
									<th scope="col">Slurm id</th>
									<th scope="col">User</th>
									<th scope="col">Name</th>
									<th scope="col">#(Nodes)</th>
									<th scope="col">Master node</td>
									<th scope="col">GPU type</th>
									<th scope="col">GPUs / node</th>
									<th scope="col">Image</th>
									<th scope="col">Status</th>
									<th scope="col">Entry points</th>
									<th scope="col">Details</th>
									<th scope="col">Stop</th>
								</tr>
							</thead>
							<tbody id="jobtable">
								{% include "blocks/admin_job_table.html" %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
	if (!$) console.error('jQuery is required!');
	else {
		function update_jobtable() {
			$.ajax('/carme-base/AdminJobTable/', {
				type: "GET",
				statusCode: {
					401: function (response) {
						window.location = '/login/?next=' + window.location.pathname + '&timeout=1';
					}
				}, success: function (data) {
					var entries = $(data);

					entries.each(function( index ) {
						var jobid = $(this).data('jobid');
						var existing = $('#jobtable tr[data-jobid="' + jobid + '"]');



						if(existing.length > 0) {
							if($(this).text() == existing.text()) {
								// content equals, just update csrf
								var newTokens = $(this).find('input[name="csrfmiddlewaretoken"]');
									existing.find('input[name="csrfmiddlewaretoken"]').each(function(index) {
									$(this).val(newTokens[index].value);
								});
							} else {
								// content changed, replace element
								$(this).replaceAll(existing);
							}
						} else {
							// job not existing, add element
							$('#jobtable').prepend($(this));
						}
					});

					var sel = $(data).map(function() {
						var jobid = $(this).data('jobid');
						return 'tr[data-jobid="' + jobid + '"]';
					}).get().join(',');

					$('#jobtable tr').not(sel).remove();
				}
			});
		}

		setInterval(function () {
			update_jobtable();
		}, 2000);

		$( document ).on( "click", "button.stop-job", function() {
			setTimeout(function() {
				update_jobtable();
			}, 250);
		});
	}
</script>
{% endblock %}