{% comment %}
# ----------------------------------------------
# Carme
# ----------------------------------------------
# base.html - defining the basic page layout
#
# see Carme development guide for documentation:
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM
# License: http://open-carme.org/LICENSE.md
# Contact: info@open-carme.org
# ---------------------------------------------
{% endcomment %}

{% load static %}

<!doctype html>
<html lang="en">

<head>
	
	<!-- meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- title -->
	<title>Carme - {% block title %}{% endblock %}</title>

	<!-- assets -->
	{% include "blocks/assets/assets_header.html" %}
</head>

<body class="d-flex flex-column h-100 w-100 m-0 p-0">
	<div class="d-flex justify-content-between flex-column min-vh-100">
  <div class="container" data-layout="container">

  	<!-- navbar -->
  	{% if request.path != "/account/two_factor/setup/complete/" %}
				{% if user.is_authenticated and user.is_verified %}
					<div style="padding-top:90px;">
						{% include "blocks/navbar.html" %}
					</div>
    {% endif %}
			{% endif %}

   <!-- main -->
			<main role="main" class="flex-shrink-0">
    {% if request.path != "/account/login/" %}
					{% include "blocks/maintenance.html" %}
				{% endif %}

    {% block content %}{% endblock %}
			</main>
         
  </div>		

		<!-- footer -->
		{% include "blocks/footer.html" %}

		<!-- scripts  -->
		{% include "blocks/assets/assets_footer.html" %}
		{% include "blocks/assets/scripts.html" %}		

		
		{% block javascript %}{% endblock %}

	</div>
</body>

</html>
