<!---
								# ---------------------------------------------- 
								# Carme
								# ----------------------------------------------
								# change_pasword.html                                                                                                                                                                      
								#                   
								# see Carme development guide for documentation: 
								# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
								#
								# Copyright 2019 by Fraunhofer ITWM  
								# License: http://open-carme.org/LICENSE.md 
								# Contact: info@open-carme.org
								# ---------------------------------------------
-->

{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
	<div class="card mt-4">
		<div class="card-header font-weight-bold"><i class="fa fa-key fa-fw" aria-hidden="true"></i>&nbsp; Change password</div>
		<div class="card-body">

			<form class="form mb-3" action="{% url 'change_password' %}" method="post">
				{% csrf_token %}
				<div class="form-row">
					<div class="col">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-default">{{ form.new_password1.label }}</span>
							</div>
							<input type="text" name="{{ form.new_password1.html_name }}" class="form-control" aria-label="Sizing example input"
								aria-describedby="inputGroup-sizing-default">
						</div>
					</div>
					<div class="col">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-default">{{ form.new_password2.label }}</span>
							</div>
							<input type="text" name="{{ form.new_password2.html_name }}" class="form-control" aria-label="Sizing example input"
								aria-describedby="inputGroup-sizing-default">
						</div>
					</div>
					<div class="col">
						<button class="btn btn-primary" type="submit">Change</button>
					</div>
				</div>
			</form>

			<h5 class="mb-2">Password criteria</h5>
			<ul class="mb-2">
				<li>must have a length of at least 13 characters</li>
				<li>contains neither your account name nor parts of your full name that exceed two consecutive characters</li>
				<li>contains characters from three of the following four categories:<br>
					- English uppercase characters (A through Z)<br>
					- English lowercase characters (a through z)<br>
					- Base 10 digits (0 through 9)</li>
				- Non-alphanumeric characters (for example, :, #, %)
			</ul>
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
					{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
					<font color="red"><b>{{ message }}</b></font>
					{% else %}
					<font color="green"><b>{{ message }}</b></font>
					{% endif %}
					</li>
					{% endfor %}
			</ul>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}
{% endblock %}