{% extends 'base.html' %}

{% comment %}
# ----------------------------------------------
# Carme
# ----------------------------------------------
# change_pasword.html
#
# see Carme development guide for documentation:
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM
# License: http://open-carme.org/LICENSE.md
# Contact: info@open-carme.org
# ---------------------------------------------
{% endcomment %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container my-4">
	<div class="card">
		<div class="card-header font-weight-bold"><i class="fa fa-key fa-fw" aria-hidden="true"></i>&nbsp; Change
			password</div>
		<div class="card-body">

			<form class="form mb-3" action="{% url 'change_password' %}" method="post">
				{% csrf_token %}
				<div class="form-row">
					<div class="col">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"
									id="inputGroup-sizing-default">{{ form.new_password1.label }}</span>
							</div>
							<input type="text" name="{{ form.new_password1.html_name }}" class="form-control"
								aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>
					<div class="col">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"
									id="inputGroup-sizing-default">{{ form.new_password2.label }}</span>
							</div>
							<input type="text" name="{{ form.new_password2.html_name }}" class="form-control"
								aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>
					<div class="col">
						<button class="btn btn-primary" type="submit">Change</button>
					</div>
				</div>
			</form>

			{{ password_criteria|safe }}

			{% for message in messages %}
				{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
					<div class="alert alert-danger" role="alert">{{ message }}</div>
				{% else %}
					<div class="alert alert-info" role="alert">{{ message }}</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}