<!---
								# ---------------------------------------------- 
								# Carme
								# ----------------------------------------------
								# change_pasword.html                                                                                                                                                                      
								#                   
								# see Carme development guide for documentation: 
								# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
								#
								# Copyright 2019 by Fraunhofer ITWM  
								# License: http://open-carme.org/LICENSE.md 
								# Contact: info@open-carme.org
								# ---------------------------------------------
-->

{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="main-container">
								<h3>Change Password</h3>
								<div class="set-password">
																<form method="post">
																								{% csrf_token %}
																								{{ form }}
																								<input type="submit" value="Change Password">
																</form>
								</div>
								your password has to fulfil these criteria:
								<ul>
																<li>must have a length of at least 13 characters</li>
																<li>contains neither your account name nor parts of your full name that exceed two consecutive characters</li>
																<li>contains characters from three of the following four categories:<br>
																								- English uppercase characters (A through Z)<br>
																								- English lowercase characters (a through z)<br>
																								- Base 10 digits (0 through 9)</li>
																- Non-alphanumeric characters (for example, :, #, %)
								</ul>
								{% if messages %}
								<ul class="messages">
																{% for message in messages %}
																<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
																								{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
																								<font color="red"><b>{{ message }}</b></font>
																								{% else %}
																								<font color="green"><b>{{ message }}</b></font>
																								{% endif %}
																</li>
																{% endfor %}
								</ul>
								{% endif %}
</div>
{% endif %}
{% endblock %}

