{% extends 'base.html' %}

{% comment %}
# ----------------------------------------------
# Carme
# ----------------------------------------------
# home.html
#
# see Carme development guide for documentation:
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM
# License: http://open-carme.org/LICENSE.md
# Contact: info@open-carme.org
# ---------------------------------------------
{% endcomment %}

{% load static %}
{% load timetags %}
{% load mathfilters %}

{% block title %}Home{% endblock %}

{% block content %}

	<!-- <top-layer> -->
	<div class="row mt-2">
		
		<!-- <news> -->
		<div class="col-lg-3 col-md-6 mb-4 pb-2">
			<div class="card h-100">
				<div class="card-header d-flex justify-content-between">
					<h5 class="mb-0 py-2 fs-0 fw-400 text-header">
						<i class="fa fa-newspaper"></i> 
						News
					</h5>
                </div>
				<div class="scrollbar-overlay os-host-flexbox" style="max-height:320;">
					<div class="card-body d-flex flex-column justify-content-between fs--1 fw-400 text-body pe-0 me-0" id="news"></div>
				</div>
			</div>
		</div>
		<!-- </news> -->

		<!-- <gpu> -->
		<div class="col-lg-3 col-md-6 mb-4 pb-2">
 		    <div class="card h-100">              
                <div class="card-header d-flex justify-content-between w-100">
                  	<div>
                  		<h5 class="mb-0 pb-1 pt-2 fs-0 fw-400 text-header">
                   			<svg xmlns="http://www.w3.org/2000/svg" class="pb-1 mb-0" width="23" height="23" fill="currentColor" class="bi bi-gpu-card" viewBox="0 0 16 16">
                    			<path d="M4 8a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm7.5-1.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Z"/>
                     			<path d="M0 1.5A.5.5 0 0 1 .5 1h1a.5.5 0 0 1 .5.5V4h13.5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5H2v2.5a.5.5 0 0 1-1 0V2H.5a.5.5 0 0 1-.5-.5Zm5.5 4a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5ZM9 8a2.5 2.5 0 1 0 5 0 2.5 2.5 0 0 0-5 0Z"/>
                     			<path d="M3 12.5h3.5v1a.5.5 0 0 1-.5.5H3.5a.5.5 0 0 1-.5-.5v-1Zm4 1v-1h4v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5Z"/>
                    		</svg>  
                    		GPU
                   		</h5>
                  	</div>
                	<div>
                		<select class="form-select form-select-sm text-header" id="list-gpu">
                   			<option value="gpu0" selected>{{ gputype | index:0 | upper }}</option>
                    		{% for gpu in gputype|slice:"1:" %}
                    		<option value="gpu{{forloop.counter}}">{{ gputype | index:forloop.counter | upper }}</option>
                    		{% endfor %}
                		</select>
            		</div>
        		</div>
                
        		<div class="card-body d-flex flex-column justify-content-between">
				{% for gpu in gputotal %}
                  	{% if forloop.first %}
                  	<div id="option-gpu-gpu{{forloop.counter0}}" class="option-gpu" style="display: block;">
                  	{% else %}
                  	<div id="option-gpu-gpu{{forloop.counter0}}" class="option-gpu">
                  	{% endif %}
                   		<div class="d-flex flex-row-reverse mb-2"> 
                   			<div><span class="badge fs--3 fw-400 text-body">Total GPUs: {{ gpusum }}</span></div>
                   		</div>
                		<div class="progress mt-0 mb-1" style="height: 20px;">
               				<div class="progress-bar bg-used " id="gpus" role="progressbar" style="width: {{ gpu | mul:100 |div:gpusum }}%" 
							     aria-valuenow="{{ gpu }}" aria-valuemin="0" aria-valuemax="{{gpusum}}" >
								<span>{{ gpu }}</span>
							</div>
        				</div>
                   		<div class="row fs--1 fw-400 text-body mt-3 g-0 mt-xxl-4">
                   			<div class="col-auto d-flex align-items-center pe-3">
								<span class="dot bg-primary"></span>
								<span>{{ gputype | index:forloop.counter0 | upper }}</span>
							</div>
                    		<div class="col-auto d-flex align-items-center">
								<span class="dot dot-others"></span>
								<span>OTHERS </span>
							</div>
                   		</div>

                   		<ul class="list-unstyled mt-3">
                   			<li class="border-top-solid pt-3 pb-1">
                   				<div class=" border-3 border-primary mt-1">
                     				<h5 class="mb-2 fs-0 fw-600 text-body">
										{{ gputype | index:forloop.counter0 | upper }}
									</h5>
									<div class="fs--1 fw-400 text-body">
                      					<div class="row mb-1">
                      						<div class="col-9">
                       							GPUs/node
                       						</div>
                       						<div class="col-3 d-flex flex-row-reverse">
                       							{{ gpupernode | index:forloop.counter0 }}
                       						</div>
                      					</div>
                      					<div class="row mb-1">
                      						<div class="col-9">
                       							CPUs/GPU
                       						</div>
                       						<div class="col-3 d-flex flex-row-reverse">
                       							{{ cpupergpu | index:forloop.counter0 }}
                       						</div>
                      					</div>
                      					<div class="row">
                      						<div class="col-9">
                								GB RAM/GPU
               								</div>
                       						<div class="col-3 d-flex flex-row-reverse">
                       							{{ rampergpu | index:forloop.counter0 }}
                       						</div>
                    					</div>
             						</div>
								</div>
            				</li> 
        				</ul>
																						
					</div>
                {% endfor %}
                </div>

          	</div>
      	</div>
		<!-- </gpu> -->

		<!-- <chart> -->
		<div class="col-12 col-lg-6 mb-4 pb-2">
			<div class="card h-100">

                <div class="card-header d-flex justify-content-between w-100">
                	<div>
                  		<h5 class="mb-0 py-2 fs-0 fw-400 text-header">
							<i class="fas fa-chart-area"></i> 
							Chart
						</h5>
                  	</div>
                  	<div>
                  		<select class="form-select form-select-sm text-header" id="list-chart">
							<option value="forecast" selected>Forecast</option>
                   			<option value="time">History</option>
                   		</select>
                  	</div>
                </div>
                
				<!-- <card-body> -->
				<div class="card-body d-flex flex-column justify-content-between">

					<!-- <forecast-chart> -->
                 	<div id="option-chart-forecast" class="option-chart" style="display: block;">
                 		<ul class="nav nav-tabs" id="myTab" role="tablist">
                  			{% if gputype|length > 1 %}
                   				<li class="nav-item" role="presentation">
                    				<a class="nav-link active fw-400 text-body" id="forecastchart-tab" data-bs-toggle="tab" 
								   	   href="#forecastchart" role="tab" aria-controls="forecastchart" aria-selected="true">
										Total
									</a>
                    			</li>
                    			{% for gpu in gputype %}
                    			<li class="nav-item" role="presentation">
                     				<a class="nav-link fw-400 text-body" id="forecast-gpu{{forloop.counter}}-tab" data-bs-toggle="tab" 
									   href="#forecast-gpu{{forloop.counter}}" role="tab" aria-controls="forecast-gpu{{forloop.counter}}" aria-selected="false">
										{{ gputype | index:forloop.counter0 | upper }}
									</a>
                    			</li>
                    			{% endfor %}
                   			{% elif  gputype|length == 1 %}
                    			<li class="nav-item" role="presentation">
                     				<a class="nav-link active fw-400 text-body" id="forecastchart-tab" data-bs-toggle="tab" 
									   href="#forecastchart" role="tab" aria-controls="forecastchart" aria-selected="true">
										{{ gputype | index:0 | upper }}
									</a>
                    			</li>
                   			{% else %}
                    			<li class="nav-item" role="presentation">
                     				<a class="nav-link active fw-400 text-body" id="forecastchart-tab" data-bs-toggle="tab" 
									   href="#forecastchart" role="tab" aria-controls="forecastchart" aria-selected="true">
										NONE
									</a>
                    			</li>
                   			{% endif %}
                  		</ul>
                  		<div class="tab-content " id="myTabContent">
                  			{% if gputype|length > 1 %}
                   				<div class="tab-pane fade show active" id="forecastchart" role="tabpanel" aria-labelledby="forecastchart-tab">
                    				<div id="myForecastChart0" style="height: 250px;" class="me-2 pe-2"></div>
                    			</div>
                    			{% for gpu in gputype %}
                    			<div class="tab-pane fade" id="forecast-gpu{{forloop.counter}}" role="tabpanel" aria-labelledby="forecast-gpu{{forloop.counter}}-tab">
                    				<div id="myForecastChart{{forloop.counter}}" style="height: 250px;" class="me-2 pe-2"></div>
                    			</div>
                    			{% endfor %}
                   			{% elif  gputype|length == 1 %}
                   				<div class="tab-pane fade show active" id="forecastchart" role="tabpanel" aria-labelledby="forecastchart-tab">
                    				<div id="myForecastChart0" style="height: 250px;" class="me-2 pe-2"></div>
                    			</div>
                   			{% else %}
                   				<div class="tab-pane fade show active fw-400 text-body" id="forecastchart" role="tabpanel" aria-labelledby="forecastchart-tab">
                    				GPU_TYPE is empty
                    			</div>
                   			{% endif %}
                  		</div>
                 	</div>
					<!-- </forecast-chart> -->

					<!-- <time-chart> -->
                	<div id="option-chart-time" class="option-chart">
                 		<ul class="nav nav-tabs" id="myTab" role="tablist">
                  			{% if gputype|length > 1 %}
                   				<li class="nav-item" role="presentation">
                    				<a class="nav-link active fw-400 text-body" id="timechart-tab" data-bs-toggle="tab" 
								   	   href="#timechart" role="tab" aria-controls="timechart" aria-selected="true">
										Total
							   		</a>
                    			</li>
                    			{% for gpu in gputype %}
									{% comment %}none{% endcomment %}
                    			{% endfor %}
                   			{% elif  gputype|length == 1 %}
                   				<li class="nav-item" role="presentation">
                    				<a class="nav-link active fw-400 text-body" id="timechart-tab" data-bs-toggle="tab" 
									   href="#timechart" role="tab" aria-controls="timechart" aria-selected="true">
										{{ gputype | index:0 | upper }}
									</a>
                    			</li>
                   			{% else %}
                    			<li class="nav-item" role="presentation">
                    				<a class="nav-link active fw-400 text-body" id="timechart-tab" data-bs-toggle="tab" 
									   href="#timechart" role="tab" aria-controls="timechart" aria-selected="true">
										NONE
									</a>
                    			</li>
                   			{% endif %}
                  		</ul>

                  		<div class="tab-content" id="myTabContent">
                  			{% if gputype|length > 1 %}
                   				<div class="tab-pane fade show active" id="timechart" role="tabpanel" aria-labelledby="timechart-tab">
                    				<div id="myTimeChart" style="height: 230px;" class="ms-0 me-2"></div>
                    			</div>
                    			{% for gpu in gputype %}
                    			<div class="tab-pane fade" id="time-gpu{{forloop.counter}}" role="tabpanel" aria-labelledby="time-gpu{{forloop.counter}}-tab">
                    				{{ gputype | index:forloop.counter0 }}-TIME
                    			</div>
                    			{% endfor %}
                   			{% elif  gputype|length == 1 %}
                   				<div class="tab-pane fade show active" id="timechart" role="tabpanel" aria-labelledby="timechart-tab">
                    				<div id="myTimeChart" style="height: 230px;" class="ms-0 me-2"></div>
                    			</div>
                   			{% else %}
                   				<div class="tab-pane fade show active fw-400 text-body" id="timechart" role="tabpanel" aria-labelledby="timechart-tab">
                    				GPU_TYPE is empty
                    			</div>
                   			{% endif %}
                  		</div>
                 	</div>
					<!-- </time-chart> -->

                </div>
            </div> 
        </div> 
		<!-- </chart> -->
    </div>
    <!-- </top-layer> -->
										
 	<!-- <bottom-layer> -->
	<div class="row mt-2">
		<div class="col-12 mb-4 pb-2">
			<div class="card h-100">

				<div class="card-header">
					<div class="row align-items-center">
						<div class="col">
							<h5 class="mb-0 fs-0 fw-400 text-header">
								<i class="fas fa-tasks"></i> 
								Jobs
							</h5>
						</div>

						<!-- <modal> -->
						<div class="col-auto pe-card text-center" class"form-select form-select-sm">
                			<button type="button" class="btn btn-sm btn-custom" data-bs-toggle="modal" data-bs-target="#jobsModal">
                 				<span class="p-1 text-header">History</span>
                 			</button>
						</div>
                		<div class="modal fade pe-0" id="jobsModal" tabindex="-1">
							<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
								<div class="modal-content">

                   					<div class="modal-header">
                    					<h5 class="mb-0 py-0 fs-0 fw-400 text-header">
											<i class="fas fa-history"></i> 
											History
										</h5>
                     					<button type="button" class="btn-close fs--1" data-bs-dismiss="modal"></button>
                    				</div>
																														
									<div class="scrollbar-overlay os-host-flexbox">
                    					<div class="modal-body">
                    						{% include "blocks/jobhistory.html" %} 
                    					</div>
									</div>

                    				<div class="modal-footer">
                    					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                    				</div>

                   				</div>
                  			</div>
                 		</div>
						<!-- </modal> -->

					</div>
				</div>

				<div class="card-body">
					<div id="scrollbarModal" class="table-responsive scrollbar-overlay">
						<table class="table mb-0 overflow-hidden align-middle fs--1 fw-400 text-center text-body">
																								
							<thead>
								<tr class="border-bottom-solid">
                            		<!-- <job-form> -->
                   					<form class="form ajax" action="{% url 'start_job' %}" method="post">
                    					{% csrf_token %}                    										
                    					<th colspan="2">
                     						<div class="input-group my-1">
                      							<div class="input-group-text fs--1 fw-400 text-body">
                       								{{ start_job_form.nodes.label }} 
                       							</div>
                       							<select name="{{ start_job_form.nodes.html_name }}" class="form-select form-select-sm fs--1 fw-400 text-body">
                       								{% for choice in start_job_form.nodes.field.choices %}
                        								<option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        							{% endfor %} 
                       							</select>
                      						</div>
                     					</th>
                     					<th colspan="2">
                      						<div class="input-group my-1" style="width:12.2rem; max-wdith:12.2rem;">
                       							<div class="input-group-text fs--1 fw-400 text-body">
                     								{{ start_job_form.gpu_type.label }}
                   								</div>
                   								<select name="{{ start_job_form.gpu_type.html_name }}" class="form-select form-select-sm fs--1 fw-400 text-body">
                   									{% for choice in start_job_form.gpu_type.field.choices %}
                   	 									<option value="{{ choice.0 }}">{{ choice.1 | upper }}</option>
                        							{% endfor %}
                       							</select> 
                      						</div>
                     					</th>
                     					<th colspan="2">
                      						<div class="input-group my-1" style="width:11.1rem; max-width:11.1rem;">
                       							<div class="input-group-text fs--1 fw-400 text-body">
                      								{{ start_job_form.gpus.label }}
                   								</div>
                       							<select name="{{ start_job_form.gpus.html_name }}" class="form-select form-select-sm fs--1 fw-400 text-body">
                        							{% for choice in start_job_form.gpus.field.choices %}
                     									<option value="{{ choice.0 }}">{{ choice.1 }}</option>
                   									{% endfor %}
                   								</select>
                   							</div>
                   						</th>
                   						<th colspan="2">
                      						<div class="input-group my-1">
                       							<div class="input-group-text fs--1 fw-400 text-body">
                      								{{ start_job_form.image.label }}
                   								</div>
                   								<select name="{{ start_job_form.image.html_name }}" class="form-select form-select-sm fs--1 fw-400 text-body">
                   									{% for choice in start_job_form.image.field.choices %}
                   										<option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        							{% endfor %}
                       							</select>
                      						</div>
                     					</th>
                     					<th colspan="2">
                     						<div class="input-group my-1">
                       							<div class="input-group-text fs--1 fw-400 text-body">
                   									{{ start_job_form.name.label }}
                       							</div>
                       							<input type="text" name="{{ start_job_form.name.html_name }}" class="form-control fs--1 fw-400 text-body" 
												   	   value="{{ start_job_form.name.field.initial }}">
                      						</div>
                     					</th>
                     					<th colspan="1">
                      						<button class="btn btn-primary start-job" type="submit">
												<i class="fa fa-play fa-fw"></i>
											</button>
                     					</th>
                   					</form>
                            		<!-- </job-form> -->
                  				</tr>
								<tr class="border-bottom-double">
                   					<th style="width: 5.0rem; max-width:5.0rem;">ID</th>
                   					<th style="width: 7.0rem; max-width:7.0rem;">Name</th>
                   					<th style="width: 7.0rem; max-width:7.0rem;">Image</th>
                   					<th style="width: 5.0rem; max-width:5.0rem;">Nodes</th>
                   					<th style="width: 5.0rem; max-width:5.0rem;"><span class="frac">
										   											<sup>CPUs</sup>
																					<span>&frasl;</span>
																					<sub>node</sub>
																				 </span></th>
					              	<th style="width: 6.0rem; max-width:6.0rem;"><span class="frac">
																					<sup>GPUs</sup>
																					<span>&frasl;</span>
																					<sub>node</sub>
																				 </span></th>
                   					<th style="width: 5.0rem; max-width:5.0rem;">Status</th>
                   					<th style="width: 12rem; max-width:12rem;">Timing</th>
                   					<th style="width: 10rem; max-width:10rem;">Entry points</th>
                   					<th style="width: 5.0rem; max-width:5.0rem;">Details</th>
                   					<th>Stop</th>
                  				</tr>
							</thead>

							<!-- <job-table> -->
							<tbody id="jobtable">
								{% if myjobtable_list.count == 0 %}
								<tr class="border-bottom-solid">
  									<td colspan="11">
    									<div class="row flex-center text-center" style="padding: 50px 0 50px 0;">
      										<div class="fs-40 fw-900 text-watermark">No Jobs</div>
      										{% if myprojects.count > 0%}
        										<p class="mt-4 mx-auto fs-2 fw-200 text-body">Choose an image to start a job</p>
      										{% else %}
        										<p class="mt-4 mx-auto fs-2 fw-200 text-body">Choose an image to start a job</p>
      										{% endif %}
    									</div>
  									</td>
								</tr>
								{% else %}
									{% include "blocks/job_table.html" %}
								{% endif %}
							</tbody>
							<!-- </job-table> -->

						</table>

					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!--</bottom-layer>-->

{% endblock %}

{% block javascript %}
<script>
var osInstance = $('#scrollbarModal').overlayScrollbars({ }).overlayScrollbars();

$('#scrollbarModal').on('show.bs.modal', function() { 
  requestAnimationFrame(function() {
    var osContentElm = $(osInstance.getElements().content);
    var backdropElms = $('body > .modal-backdrop');
    backdropElms.each(function(index, elm) {
      osContentElm.append(elm);
    });
  });
});
</script>
{% endblock %}
