{% extends 'base.html' %}

{% comment %}
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
# job_hist.html                                                                                                                                                                     
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
{% endcomment %}

{% load static %} 
{% load timetags %}

{%block content %}
<div class="row mt-2">
		<div class="col-12 mb-4 pb-2">

				<div class="card h-100">
		  		
						<div class="card-header d-flex justify-content-between">
								<h5 class="mb-0 py-2 fs-0 fw-400 text-header">
										<i class="fas fa-history"></i>
										History
								</h5>
						</div>

		  		<div class="card-body">
								{% include "blocks/jobhistory.html" %}
		  		</div>

				</div>
	 </div>
</div>	
{% endblock %}
