<!---
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
# job_hist.html                                                                                                                                                                     
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
-->

{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load timetags %}
{% block title %}Carme Home{% endblock %}
{% block content %}

{% include "blocks/java_scripts.html" %}
{% if user.is_authenticated %}
<div class="main-container">
								<h3>Slurm Stats for user: <b>{{ user.username }} [{{uID}}]</b></h3>
								<table> 
																<tr>
																								<td width=300><b>Total GPU hours used:</b></td>
																								<td width=100>{{job_time}}</td> 
																								<td width=200><b>Partitions:</b></td>
																								<td width=500>{{partitions}}</td>
																</tr> 
																<tr>
																								<td><b>Max jobs in queue:</b></td>
																								<td>no limit</td>
																								<td><b>Max jobs running:</b></td>
																								<td>{{ max_jobs }}</td>
																</tr> 
																<tr>
																								<td><b>Max GPUs:</b></td>
																								<td>{{ max_gpus }}</td>  
																								<td><b>Max nodes:</b></td>
																								<td>{{ max_nodes }}</td>  
																</tr>  
								</table>   
</div>
<BR>
<div class="main-container"> 
																<h3> Job History </h3>
																{% if myjobhist %}
																<table class="JobHistTable">
																								<thead>
																								<tr>
																																<td width=50><b>Id</b></td>
																																<td width=100><b>Name</b></td>
																																<td width=150><b>Partition</b></td>	
																																<td width=220><b>Submitted</b></td>
																																<td width=220><b>Ended</b></td>
																																<td><b>Exit Code</b></td>
																																<td><b>Cores</b></td>
																																<td><b>Memory</b></td> 
																																<td><b>Nodes</b></td>
																								</tr>
																								</thead>
																								{% for job in myjobhist %}
																								<tr>
																																<td> {{ job.id_job }}</td>
																																<td> {{ job.job_name }}</td>
																																<td> {{ job.partition }}</td> 
																																<td> {{ job.time_submit | print_timestamp }}</td>
																																<td>	{{ job.time_end | print_timestamp}}</td>
																																<td align="center"> {{ job.exit_code }}</td>
																																<td align="center"> {{ job.cpus_req }}</td>
																																<td> {{ job.mem_req }}</td>
																																<td> {{ job.nodelist }}</td>
																								</tr>
																								{% endfor %}
																</table>
																<BR>
																Table shows the last 20 jobs.
</div>
<BR>
{% endif %}
{% if user.is_superuser %}
{% include "blocks/admin_footer.html" %}  
<BR>  
{% endif %}
{% include "blocks/footer.html" %}
{% else %}
<h2>{{ settings.CARME_FRONTEND_TITLE }}</h2>
Cluster Access is ristricted to authorized users.<BR><BR>
Please <a href="{% url 'login' %}"><b>LOG IN</b></a>
{% endif %}

{% endblock %}
