{% extends 'base.html' %}

{% comment %}
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
# job_hist.html                                                                                                                                                                     
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
{% endcomment %}

{% load static %} 
{% load timetags %}

{%block content %}
<div class="row mt-2 mb-4">
	<div class="col-12">
	 <div class="card-deck">
			<div class="card">
		  <div class="card-header bg-light style-title"><i class="fa fa-history" aria-hidden="true"></i>&nbsp; History</div>
		  <div class="card-body">
					{% include "blocks/jobhistory.html" %}
		  </div>
			</div>
	 </div>
	</div>
</div>	
{% endblock %}
