<!---
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
-->

{% extends 'base.html' %}

{% block title %}See you!{% endblock %}

{% block content %}
<div class="main-container">
								<h2>Logged out</h2>
								<p>You have been successfully logged out.</p>
								<p><a href="{% url 'login' %}"><b>Log in</b></a> again.</p>
</div>
{% endblock %}

