<!---
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
-->

{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% load static %}

<div class="login">
	<div class="container">
		<div class="row">
			<form class="col-12" method="POST">
				{% csrf_token %}

				<div class="text-center mb-4">
					<img src="{% static 'carme.svg' %}" alt="logo" style="width: 96px; height: 96px;" class="mb-4" />
					<h1 class="h3 mb-3 font-weight-normal">Carme</h1>
				</div>

				<div id="timeout-message" class="alert alert-warning" role="alert" style="display: none;"><i class="fa fa-warning"></i>&nbsp; You have been logged out, because your session has expired!</div>
				<div id="logout-message" class="alert alert-success" role="alert" style="display: none;"><i class="fa fa-check"></i>&nbsp; Successfully logged out.</div>

				<div class="form-label-group">
					<input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username"
						required>
					<label for="inputUsername">Username</label>
				</div>

				<div class="form-label-group">
					<input type="password" name="password" id="inputPassword" class="form-control"
						placeholder="Password" required>
					<label for="inputPassword">Password</label>
				</div>

				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</form>
		</div>

		<div class="row my-5">
			<div class="col">
				<a href="https://www.itwm.fraunhofer.de/" target="_blank"><img src="{% static 'itwm.svg' %}" alt="logo" style="width: 100%;" /></a>
			</div>

			<div class="col">
				<a href="https://www.bmbf.de/" target="_blank"><img src="{% static 'bmbf.svg' %}" alt="logo" style="width: 100%;" /></a>
			</div>

			<div class="col">
				<a href="https://mbwwk.rlp.de/" target="_blank"><img src="{% static 'rlp.svg' %}" alt="logo" style="width: 100%;" /></a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	if ('URLSearchParams' in window) {
		var messages = ['timeout', 'logout'];
		var searchParams = new URLSearchParams(window.location.search);

		for(var key in messages) {
			var msg = messages[key];

			if(searchParams.has(msg)) {
				var elem = document.getElementById(msg + '-message');
				if (elem) elem.style.display = 'block';

				searchParams.delete(msg);
			}
		}

		var query = (searchParams.toString().length > 0) ? '?' + searchParams.toString() : '';
		var path = window.location.pathname + query;

		history.pushState(null, '', path);
	}
</script>
{% endblock %}