<!---
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
-->

{% load static %}     
<link rel="stylesheet" type="text/css" href="{% static "home.css" %}"> 
<div class="time-out-container">
								<h2>
																Session time out! Please 
																<A HREF="/login" target="_parent">
																								<div style="border:1px solid black; width: auto; border-radius: 5px; display: table-cell; padding: 1px 5px; ">LogIn</div>
																</a>
								</h2>
</div>
