<!---
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
-->

{% load static %}
{% if maintenance_mode %}
<div class="main-container">
								<h3><font color="red">Maintenace Mode Active</font></h3>
</div>

<BR>
{% endif %} 

