{% load static %}

<div class="modal fade pe-0" id="deleteModal-active{{ forloop.counter }}" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">		
 	<div class="modal-content">
  	
			<div class="modal-header">
   	<h5 class="mb-0 py-0 fs-0 fw-400 text-header">
    	<i class="fas fa-trash"></i> 
     Delete Project
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
   </div>

   <div class="modal-body fs-0 fw-400 text-body">
   	<div class="alert alert-warning py-1 px-2 fs--1" role="alert">
    	<small class="fas fa-circle-exclamation pe-1"></small> This project will be removed for all members.
    </div>
    <p class="ps-2"> Are you sure that you want to delete this project?</p>
    <div class="form-check ps-4 ms-2">
    	<input class="form-check-input" id="deleteCheckbox-active{{ forloop.counter }}" type="checkbox" 
												onchange="document.getElementById('deleteButton-active{{ forloop.counter }}').disabled = !this.checked;">
     <label class="form-check-label" for="deleteCheckbox-active{{ forloop.counter }}">
      Yes, I'm sure.
     </label>
    </div>
   </div>
            
   <div class="modal-footer">
    {% if request.path == '/projects/' %}
    <form method="POST" action="{% url 'projects:delete' slug=project.project__slug %}">
    {% else %}
    <form method="POST" action="{% url 'projects:delete' slug=project.slug %}">
    {% endif %}
     {% csrf_token %}
     <button type="submit" class="btn btn-sm btn-danger" id="deleteButton-active{{ forloop.counter }}" value="delete" disabled>
					 Delete
					</button>
    </form>
    <button type="button" class="btn btn-sm btn-secondary ms-auto" data-bs-dismiss="modal">
				 Cancel
				</button>
   </div>

  </div>              
 </div>
</div>
