<!-- <project-none> -->
<div class="table-responsive mt-2">    
    <table class="table mb-0 overflow-hidden align-middle fs--1 fw-400 text-body text-center">
        <tbody>
            <tr class="border-bottom-solid">
                <!-- large screen -->
                <td class="d-none d-lg-table-cell" colspan="5">
                    <div class="row flex-center text-center p-4">
                        <div class="fs-40 fw-900 text-watermark">No Projects</div>
                        <p class="mt-4 mx-auto fs-2 fw-200 text-body">Create a new project or join one</p>
                    </div>
                </td>
                <!-- middle screen -->
                <td class="d-none d-md-table-cell d-lg-none" colspan="4">
                    <div class="row flex-center text-center p-4">
                        <div class="fs-30 fw-900 text-watermark">No Projects</div>
                        <p class="mt-4 mx-auto fs-0 fw-200 text-body">Create a new project or join one</p>
                    </div>
                </td>
                <!-- small screen -->
                <td class="d-md-none" colspan="3">
                    <div class="row flex-center text-center p-4">
                        <div class="fs-20 fw-900 text-watermark">No Projects</div>
                        <p class="mt-4 mx-auto fs-1 fw-200 text-body">Create a new project or join one</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- </project-none> -->
