{% extends "base.html" %}

{% block content %}
	<div id="twofactor">
		{% block subcontent %}{% endblock %}
	</div>
{% endblock %}

{% block javascript %}
<!---------------------------------->
<!--         login-alerts         -->
<!--     ( core/login.html )      -->
<!---------------------------------->
<script type="text/javascript">
  if ('URLSearchParams' in window) {
      var messages = ['timeout', 'logout'];
      var searchParams = new URLSearchParams(window.location.search);
      for(var key in messages) {
          var msg = messages[key];
          if(searchParams.has(msg)) {
            var elem = document.getElementById(msg + '-message');
            if (elem) elem.style.display = 'block';
            searchParams.delete(msg);
          }
      }    
      var query = (searchParams.toString().length > 0) ? '?' + searchParams.toString() : '';
      var path = window.location.pathname + query;
      history.pushState(null, '', path);
  }
</script>


<!---------------------------------->
<!--       auto-submit-token      -->
<!--   ( _wizard_actions.html )   -->
<!---------------------------------->  
<script>
  var token = $("#id_token-otp_token");
  var backup = $("#id_backup-otp_token");
  var validated = 1;

  token.bind("change keyup paste input", function(){
    if( $(this).val().length < 6 || $(this).val().length > 6){
      validated = 0; 
    }
    if( $(this).val().length == 6 && validated == 0 ) {
      $('.btn.btn-lg').click();
      validated = 1; 
    }
  });

  backup.bind("change keyup paste input", function(){
    if( $(this).val().length < 8 || $(this).val().length > 8){
      validated = 0; 
    }
    if( $(this).val().length == 8 && validated == 0 ) {
      $('.btn.btn-lg').click();
      validated = 1; 
    }
  });
</script>


<!---------------------------------->
<!--       not-required-field     -->
<!--      ( core/setup.html )     -->
<!---------------------------------->
<script>
  $("#id_yubikey-token").removeAttr('required');
  $("#id_generator-token").removeAttr('required');
</script>


<!---------------------------------->
<!--    QR-code-copy-secret-key   -->
<!--        ( setup.html )        -->
<!---------------------------------->
<script>
  $(function () {
      $('[data-bs-toggle="tooltip"]').tooltip()
  });
    
  $('#qrcopy').click(function() {
      $(this).attr('data-bs-original-title', 'Copied!').tooltip('show');
      $(this).attr('data-bs-original-title', 'Copy');
  });
    
  function myQRFunction() {
      var copyText = document.getElementById("mySecretKey");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      navigator.clipboard.writeText(copyText.value);
  } 
</script>


<!---------------------------------->
<!--           dark-mode          -->
<!--     ( core/sponsor.html )    -->
<!---------------------------------->
<script>
  $(document).ready(function() {
    const elementMode = document.querySelector(':root');
    const carmeMode = getComputedStyle(elementMode);
                  
    let lightMode  = carmeMode.getPropertyValue("--carme-light-mode").replace(/\s/g, '');
    let darkMode   = carmeMode.getPropertyValue("--carme-dark-mode").replace(/\s/g, '');
    let activeMode = carmeMode.getPropertyValue("--carme-body-bg").replace(/\s/g, '');
      
    var imgLoginL = document.getElementsByClassName('carme-login-light');
    var imgLoginD = document.getElementsByClassName('carme-login-dark');
  
    if (activeMode==darkMode) {
      if (typeof(imgLoginL) != 'undefined' && imgLoginL != null && typeof(imgLoginD) != 'undefined' && imgLoginD != null) {
        for(var i = 0, length = imgLoginL.length; i < length; i++) {   
          imgLoginL[i].style.display = 'none';          // hides light-mode img
          imgLoginD[i].style.display = 'inline-block';  // shows dark-mode img
        }
      }
    } 
              
    if (activeMode==lightMode){
      if (typeof(imgLoginL) != 'undefined' && imgLoginL != null && typeof(imgLoginD) != 'undefined' && imgLoginD != null) {
        for(var i = 0, length = imgLoginL.length; i < length; i++) {
          imgLoginL[i].style.display = 'inline-block';  // shows light-mode img 
          imgLoginD[i].style.display = 'none';          // hides dark-mode img
        }
      }
    }  
      
  })
</script>
{% endblock %}
