{% load i18n %}

{% if wizard.steps.prev and wizard.steps.current != 'method' %}
  <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Verify Code" %}</button>
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-link pr-1 pull-right">{% trans "Back" %}</button>
{% elif wizard.steps.current == 'welcome' %}
  <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Continue" %}</button>
  {% if cancel_url %}
  {% comment %} <a href="{{ cancel_url }}" class="float-right btn btn-link">{% trans "Cancel" %}</a> {% endcomment %}
  <a href="/logout/" class="float-right pr-1 btn btn-link">{% trans "Log out" %}</a>
  {% endif %}
{% elif wizard.steps.current == 'method' %}
  <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Continue" %}</button>
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-link pr-1 pull-right">{% trans "Back" %}</button>
{% else %}
  <button disabled name="" type="button" class="btn d-none">{% trans "Back" %}</button>
  <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
{% endif %}

{% comment %} <button type="submit" class="btn btn-primary">{% trans "Next" %}</button> {% endcomment %}
