{% extends "two_factor/_base.html" %}
{% load i18n %}

{% block subcontent %}
<div class="row mt-2 mb-4">
		<div class="col-12">
	  	<div class="card-deck">
		  		<div class="card">

		    		<div class="card-header">
          <h5 class="mb-0 py-2 fs-0 fw-400 text-header">
            <i class="fas fa-shield-halved me-2"></i>
            {% block title %}{% trans "Account Security" %}{% endblock %}
          </h5>
        </div>

								<!-- <card-body> -->
		    		<div class="card-body">
          {% if default_device %}
          		
												<!-- <password-field> -->
												<h5 class="fs-2 fw-600 text-body">{% trans "Change Password" %}</h5>
            <p class="fs-0 fw-400 text-body border-top pt-3">
              {% blocktrans trimmed %} It is recommended to change your password in a regular basis.{% endblocktrans %}
            </p>
            <p>
              <a href="/carme/password/">
                <button type="button" class="btn btn-outline-secondary custom-btn text-header">
                  {% trans "Change password" %}
                </button>
              </a>
            </p>
												<!-- </password-field> --> 

												<!-- <backup-tokens-field> -->
            <h5 class="pt-4 fs-2 fw-600 text-body">{% trans "Get Backup Tokens" %}</h5>
            <p class="fs-0 fw-400 text-body border-top pt-3">
              {% blocktrans trimmed %} 
                Backup tokens can be used for login verification when your authentication
                device is not with you. Notice that these are single-use tokens.
              {% endblocktrans %}
              {% blocktrans trimmed count counter=backup_tokens %}
                You have only <strong>one</strong> backup token remaining.
              {% plural %}
                You have <strong>{{ counter }}</strong> backup tokens.
              {% endblocktrans %}
            </p>  
            <p>
              <a href="{% url 'two_factor:backup_tokens' %}">
                <button type="button" class="btn btn-outline-secondary custom-btn text-body">
                  {% trans "Get backup tokens" %}
                </button>
              </a>
            </p>
												<!-- </backup-tokens-field> --> 

												<!-- <disable-2FA-field> -->
            <h5 class="pt-4 fs-2 fw-600 text-body">{% trans "Disable Two-Factor Authentication" %}</h5>
            <p class="fs-0 fw-400 text-body border-top pt-3">
              {% blocktrans trimmed %} If you lost your authentication device, it is recommended to 
              restart the two-factor authentication (2FA). Click on the button below to disable it. You
              will be redirected to set a new 2FA method. {% endblocktrans %}
            </p>
            <p>
              <a href="{% url 'two_factor:disable' %}">
                <button type="button" class="btn btn-outline-secondary custom-btn text-body">
                  {% trans "Disable two-factor authentication" %}
                </button>
              </a>
            </p>
												<!-- </disable-2FA-field> -->
          
          {% else %}
												<!-- <enable-2FA-field> -->
          		<p class="fs-0 fw-400 text-body">
              {% blocktrans trimmed %}Two-factor authentication is not enabled for your
              account. Enable two-factor authentication for enhanced account
              security.{% endblocktrans %}
            </p>
            <p>
              <a href="{% url 'two_factor:setup' %}" class="btn btn-primary">
                {% trans "Enable Two-Factor Authentication" %}
              </a>
            </p>
												<!-- </enable-2FA-field> -->
          {% endif %}

        </div>
								<!-- </card-body> -->
	
      </div>
    </div>
  </div>
</div>	
{% endblock %}
