{% extends "two_factor/_base.html" %}
{% load i18n %}
{% load static %}

{% block title%}Login{% endblock %}

{% block subcontent %}

<div class="row flex-center-carme align-middle min-vh-85 py-4">
		<div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
				<div id="login-box">

						<!-- <row> -->
						<div class="row">

								<div class="col-12">
										<!-- logo -->
										<div class="text-center my-4">
												<img class="mb-4" src="/static/img/logo/carme-dark.svg"/>
												<h5 class="fs-6 fw-600 text-title">Carme</h5> 
										</div>
										<!-- </logo> -->
          
										<!-- <alert> -->                  
										<div id="timeout-message" class="alert alert-warning py-2" role="alert" style="display: none;">
												<i class="fas fa-warning"></i>&nbsp; Your session has expired! Log in again.
										</div>
										<div id="logout-message" class="alert alert-success py-2" role="alert" style="display: none;">
												<i class="fas fa-check"></i>&nbsp; Successfully logged out.
										</div>
										{% if form.errors %}
    						<div id="error-message" class="alert alert-danger py-2" role="alert">
												<i class="fas fa-times-circle"></i>&nbsp; Incorrect information. Please Try again.
										</div>
										{% endif %}
										<!-- </alert> -->
    				</div>

    				<!-- <2FA> -->
    				<form action="" class="col-12" method="post">
    						{% csrf_token %}

    						{% include "two_factor/_wizard_forms.html" %}
    						<input type="submit" value="" class="d-none" />

     					{% if wizard.steps.current == 'auth' %}
     					{% comment %} <p>{% blocktrans %}Enter your credentials.{% endblocktrans %}</p> {% endcomment %}

     					{% elif wizard.steps.current == 'backup' %}
     					<p class="ms-1 fs-0 fw-400 text-body text-justify">
												{% blocktrans trimmed %}
       						Please enter one of the backup tokens to login to your account. 
													Notice that these tokens are used only once.
         			{% endblocktrans %}
      	 		</p>
     					{% endif %}

     					{% if backup_tokens %}
     					<p class="fs-0 fw-400 text-body">{% trans "As a last resort, you can use a backup token:" %}</p>
      				<p>
      						<button name="wizard_goto_step" type="submit" value="backup" class="btn btn-secondary btn-block w-100">
												{% trans "Use Backup Token" %}
												</button>
      				</p>
     					{% endif %}
              
     					{% include "two_factor/_wizard_actions.html" %}
    				</form>
    				<!-- </2FA> -->

						</div>
						<!-- </row> -->

						<!-- sponsor -->
   			{% include "two_factor/core/sponsor.html" %}
							 

		  </div>
  </div>
</div>  
{% endblock %}

