{% extends "two_factor/_base.html" %}
{% load i18n %}

{% block subcontent %}



<div class="row flex-center-carme min-vh-90 py-4">
  <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
      <div id="login-box">
          <div class="row">

            <div class="col-12">
              <div class="text-center mb-4">
                <img src="/static/img/carme.svg" alt="logo" style="width: 96px; height: 96px;" class="mb-4" />
                <h1 class="h3 mb-3 font-weight-normal">Carme</h1>
              </div>
            </div>

            <div class="col-12">
              <h5 class="text-center mb-4">{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}</h5>
              {% if wizard.steps.current == 'welcome' %}
                <p>{% blocktrans trimmed %}You are about to take your account security to the
                    next level. Follow the steps to enable two-factor
                    authentication.{% endblocktrans %}</p>
              {% elif wizard.steps.current == 'method' %}
                <p>{% blocktrans trimmed %}Please select the method you would
                    like to use.{% endblocktrans %}</p>
              {% elif wizard.steps.current == 'generator' %}
                <p>{% blocktrans trimmed %}
                    Use your
                    smartphone to scan the <a href="" data-toggle="modal" data-target="#exampleModalCenter">QR Code</a> or copy
                    the <a href="" data-toggle="modal" data-target="#exampleModalCenter">Secret Key</a> in your authentication app. Then, enter the token generated.
                    {% endblocktrans %}</p>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">QR Code</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="text-center"><img src="{{ QR_URL }}" alt="QR Code" /></p>
                    
                        <div class="row">
                          <div class="col-1">
                          </div>
                          <div class="col-10">
                            <input class="form-control text-center" style="font-size:0.9rem;" type="text" value="{{ secret_key }}" id="mySecretKey">
                          </div>
                          <div class="col-1">
                          </div>
                        </div>
                         
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

                {% comment %} <p><img src="{{ QR_URL }}" alt="QR Code" /></p> {% endcomment %}

              {% elif wizard.steps.current == 'sms' %}
                <p>{% blocktrans trimmed %}Please enter the phone number you wish to receive the
                  text messages on. This number will be validated in the next step.
                  {% endblocktrans %}</p>
              {% elif wizard.steps.current == 'call' %}
                <p>{% blocktrans trimmed %}Please enter the phone number you wish to be called on.
                  This number will be validated in the next step. {% endblocktrans %}</p>
              {% elif wizard.steps.current == 'validation' %}
                {% if challenge_succeeded %}
                  {% if device.method == 'call' %}
                    <p>{% blocktrans trimmed %}We are calling your phone right now, please enter the
                      digits you hear.{% endblocktrans %}</p>
                  {% elif device.method == 'sms' %}
                    <p>{% blocktrans trimmed %}We sent you a text message, please enter the tokens we
                      sent.{% endblocktrans %}</p>
                  {% endif %}
                {% else %}
                  <p class="alert alert-warning" role="alert">{% blocktrans trimmed %}We've
                    encountered an issue with the selected authentication method. Please
                    go back and verify that you entered your information correctly, try
                    again, or use a different authentication method instead. If the issue
                    persists, contact the site administrator.{% endblocktrans %}</p>
                {% endif %}
              {% elif wizard.steps.current == 'yubikey' %}
                <p>{% blocktrans trimmed %}To identify and verify your YubiKey, please insert a
                  token in the field below. Your YubiKey will be linked to your
                  account.{% endblocktrans %}</p>
              {% endif %}
            
              <form action="" method="post">{% csrf_token %}
                {% include "two_factor/_wizard_forms.html" %}
            
                {# hidden submit button to enable [enter] key #}
                <input type="submit" value="" class="d-none" />
            
                {% include "two_factor/_wizard_actions.html" %}
              </form>
            </div>

          </div>

          <div class="row my-5">
            <div class="col">
              <a href="https://www.itwm.fraunhofer.de/" target="_blank"><img src="/static/img/itwm.svg" alt="logo" style="width: 100%;" /></a>
            </div>
            <div class="col">
              <a href="https://www.bmbf.de/" target="_blank"><img src="/static/img/bmbf.svg" alt="logo" style="width: 100%;" /></a>
            </div>
            <div class="col">
              <a href="https://mbwwk.rlp.de/" target="_blank"><img src="/static/img/rlp.svg" alt="logo" style="width: 100%;" /></a>
            </div>
          </div>

      </div>
  </div>
</div>




{% endblock %}
