{% extends "two_factor/_base.html" %}
{% load i18n %}

{% block subcontent %}

<div class="row flex-center-carme min-vh-85 py-4">
		<div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
 			<div id="login-box">

   			<!-- <row> -->       
						<div class="row">

								<div class="col-12">
										<!-- <qr> -->
										{% if wizard.steps.current == 'generator' %}
        				<table class="table table-borderless" style="width:50%; margin:auto;">
            		<tbody>
																<tr>
																		<td>
																				<p class="text-center"> 
            										<div class="qrbox">
              										<img src="{{ QR_URL }}" class="qrcode" />
              								</div>
                  		</p>
                		</td>
              		</tr>
            		</tbody>
          		</table>
										<!-- </qr> -->
										
										<!-- <logo> -->
        		{% else %}
          		<div class="text-center my-4">
          				<img class="mb-4" src="/static/img/logo/carme-dark.svg"/>
            		<h5 class="fs-6 fw-600 text-title">Carme</h5>
          		</div>
        		{% endif %}
										<!-- </logo> -->
								</div>
								
        <div class="col-12">
									{% if wizard.steps.current == 'generator' %}
										<!-- <key> --> 
          <div class="input-group mb-3">
          	<span class="input-group-text fs--2">
												<i class="fas fa-key"></i>
											</span>
           <input class="form-control text-center fs--3 fw-500 text-header" type="text" value="{{ secret_key }}" id="mySecretKey" readonly>
           <span class="input-group-text">
           	<button id="qrcopy" class="btn btn-sm p-0 fs--2" onclick="myQRFunction()" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy">
            	<i class="fas fa-copy"></i>
            </button>
           </span>
          </div>
										<!-- </key> -->
         {% else %}
										<!-- <title> -->
         	<h5 class="text-center mb-4 fs-2 fw-500 text-title">{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}</h5>
										<!-- </title> -->
         {% endif %}

									{% if form.errors %}
         	<div id="error-message" class="alert alert-danger py-2" role="alert">
											<i class="fa fa-times-circle"></i>&nbsp; Incorrect information. Please Try again.
										</div>
         {% endif %}

									<!-- <steps> -->
         {% if wizard.steps.current == 'welcome' %}
         	<p class="fs-0 fw-400 text-body text-justify">
											{% blocktrans trimmed %}
												You are about to take your account security to the
            next level. Follow the steps to enable two-factor
            authentication.
											{% endblocktrans %}
										</p>
         {% elif wizard.steps.current == 'method' %}
         	<p class="fs-0 fw-400 text-body">
											{% blocktrans trimmed %}
												Please select the method you would like to use.
											{% endblocktrans %}
										</p>
         {% elif wizard.steps.current == 'generator' %}
         	<p class="fs-0 fw-400 text-body text-justify">
											{% blocktrans trimmed %}
           	Use your smartphone to scan the <i class="fas fa-qrcode fs--2"></i>
            or copy the <i class="fa fa-key fs--2"></i>
												in your authentication app. Then, enter the token.
           {% endblocktrans %}
										</p>
									{% elif wizard.steps.current == 'yubikey' %}
         	<p class="fs-0 fw-400 text-body text-justify">
											{% blocktrans trimmed %}
												To add the token, click the field below and touch the Yubikey button.
											{% endblocktrans %}
										</p>
         {% endif %}
									<!-- </steps> -->
          
										<!-- <form> -->  
          <form action="" method="post">
											{% csrf_token %}
          	{% include "two_factor/_wizard_forms.html" %}
          	<input type="submit" value="" class="d-none" />
           {% include "two_factor/_wizard_actions.html" %}
          </form>
										<!-- </form> -->
        </div>
								
      </div>
						<!-- </row> -->
						
						<!-- sponsor -->
      {% include "two_factor/core/sponsor.html" %}

    </div>
  </div>
</div>
{% endblock %}
