<div class="row mb-5 mt-3">
    <div class="col">
        <a href="https://www.itwm.fraunhofer.de/" target="_blank">
            <img src="/static/img/logo/itwm-light.svg"  class="carme-login-light w-100" style="display:none;"/>
            <img src="/static/img/logo/itwm-dark.svg" class="carme-login-dark w-100" style="display:none;"/>
        </a>
    </div>
    <div class="col">
        <a href="https://www.bmbf.de/" target="_blank">
            <img src="/static/img/logo/bmbf-light.svg" class="carme-login-light w-100" style="display:none;"/>
            <img src="/static/img/logo/bmbf-dark.svg" class="carme-login-dark w-100"  style="display:none;"/>
        </a>
    </div>
    <div class="col">
        <a href="https://mbwwk.rlp.de/" target="_blank">
            <img src="/static/img/logo/rlp-light.svg" class="carme-login-light w-100" style="display:none;"/>
            <img src="/static/img/logo/rlp-dark.svg" class="carme-login-dark w-100" style="display:none;"/>
        </a>
    </div>
</div> 
