<!---
# ---------------------------------------------- 
# Carme
# ----------------------------------------------
#                                                                                                                                                                                                            
# see Carme development guide for documentation: 
# * Carme/Carme-Doc/DevelDoc/CarmeDevelopmentDocu.md
#
# Copyright 2019 by Fraunhofer ITWM  
# License: http://open-carme.org/LICENSE.md 
# Contact: info@open-carme.org
# ---------------------------------------------
-->

{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% if user.is_superuser %}
<h2>Set a Message on home screen of all Users</h2>
<form action="/carme-base/SetMessage/" method="post">
								{% csrf_token %}
								{{ form }}
								<input type="submit" value="Submit" />
</form>
{% else %}
<h2> Need to loged in as administrator!</a>
{% endif %}
{% endblock %}

