{% extends "projects/project_base.html" %}

{% block title %}Project{% endblock title %}

{% block project_content %}
<div class="row mt-2 mb-4">
	<div class="col">
 	<div class="card">

   <!-- <card-header> -->
			<div class="card-header">
				<div class="row align-items-center">
					<div class="col">
						<h5 class="mb-0 py-2 fs-0 fw-400 text-header">
							<i class="fas fa-diagram-project"></i> My Projects
						</h5>
					</div>
						
					<div class="col-auto text-center pe-card" class"form-select form-select-sm">
						{% if user.is_authenticated %}
						<a href="{% url 'projects:create' %}">
							<button type="button" class="btn btn-sm btn-outline-secondary custom-btn" style="width:105px;">
								<span class="p-1 fs--1 fw-400 text-header">New Project </span>
							</button>
						</a>
						{% endif %}  
					</div>
						
				</div>
			</div>
   <!-- </card-header> -->

   <!-- <card-body> -->
   <div class="card-body">
					
				<!-- <join-project> -->
				<form onSubmit="return JoinProjectURL();">
					{% csrf_token %} 
					<div class="input-group mb-3">
						<input type="text" id="project-url" name="project-url" class="form-control fs-0 fw-400 text-body" placeholder="Type the project ID to join">
						<button type="submit" class="btn btn-sm btn-outline-secondary custom-btn" style="width:105px;">
							<span class="p-1 fs--1 fw-400 text-body">Join Project</span>
						</button>
					</div>
				</form>
				
				{% if messages %}
					{% for message in messages %}
						{% if message.tags == 'success' %}
						<div  class="alert alert-success py-1 px-2 fs--1" role="alert">
							<small class="fas fa-check-circle pe-1"></small>
						{% elif message.tags == 'error' %}
						<div  class="alert alert-danger py-1 px-2 fs--1" role="alert">
							<small class="fas fa-times-circle pe-1"></small>
						{% endif %}
						{{ message }}
						</div>
					{% endfor %}
				{% endif %}
				<!-- </join-project> -->

				<!-- <project-list> -->
				<div class="table-responsive mt-2">    
					<table class="table mb-0 overflow-hidden fs--1 fw-400 text-body text-center">
						<thead>
							<tr class="border-bottom-double">
								<th class="align-middle text-left border-0" style="padding-left:65px;">Project</th>
								<th class="align-middle d-none d-md-block border-0" style="min-width:90px;">Created by</th>
								<th class="align-middle border-0">Status</th>
								<th class="align-middle border-0">Membership</th>
								<th class="align-middle d-none d-lg-block border-0" style="min-width:90px;">Members</th>
								<th class="align-middle border-0"></th>
							</tr>						
						</thead>
						<tbody>
			
						{% for project in project_list_active %}
							<!-- <membership-active> -->
							<tr class="border-bottom-solid">
								<td class="align-middle text-left">
									<div class="d-flex align-items-center">
										<a href="{% url 'projects:single' slug=project.project__slug %}">
											<div class="avatar-icon position-relative d-inline-block my-2">
												<div class="avatar-name position-absolute h-100 w-100 d-block text-center text-uppercase text-white fs--2 fw-700 rounded-circle">
													<span class="position-absolute top-50 start-50 translate-middle">{{ project.project__name.0 }}</span>
												</div>
											</div>
										</a>
										<!-- large screen -->
										<div class="flex-1 align-self-center ps-3 pt-3 d-none d-lg-block">
											<h6 class="fs-0 mb-1">
												<a href="{% url 'projects:single' slug=project.project__slug %}" class="text-decoration-none">{{ project.project__name | capfirst}}</a>
											</h6>
											<span class="d-none d-lg-block">
												{% comment %} {{project.project__description}} {% endcomment %}
												{% with description=project.project__description_html|capfirst %}
													{{description|safe}}
												{% endwith %}
											</span>
										</div>
										<!-- small screen -->
										<div class="flex-1 align-self-center ps-3 pt-2 d-lg-none">
											<h6 class="fs-0">
												<a href="{% url 'projects:single' slug=project.project__slug %}" class="text-decoration-none">{{ project.project__name | capfirst}}</a>
											</h6>
										</div>
									</div>
								</td>
								<td class="align-middle d-none d-md-table-cell">
									{% if project.project__owner__username == request.user.username %}
									{% comment %}<a href="{% url 'profiles:my-profile-view' %}" class="text-body"> {% endcomment %}
         <a href="" class="text-body text-underline-hover">
										{{ project.project__owner__username }}
									{% else %}
									{% comment %}<a href="{% url 'profiles:profile-detail-view' slug=project.project__owner__username %}" class="text-body">{% endcomment %}
									<a href="" class="text-body text-underline-hover">	
										{{ project.project__owner__username }}
									{% endif %}
									</a>
								</td>
								<td class="align-middle">
									{% if project.project__is_approved == True %}
										<span data-bs-toggle="tooltip" data-bs-placement="top" title="Active project">
											<small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small>
										</span> 
									{% else %}
										<span data-bs-toggle="tooltip" data-bs-placement="top" title="Waiting for approval">
											<small class="fa fa-minus-circle text-secondary" data-fa-transform="shrink-4 down-2"></small>
										</span> 
									{% endif %}
								</td>
								<td class="align-middle">
									<span data-bs-toggle="tooltip" data-bs-placement="top" title="Active member">
										<small class="fa fa-check-circle text-success" data-fa-transform="shrink-4 down-2"></small>
									</span> 
								</td>
								<td class="align-middle d-none d-lg-table-cell">
									<span class="me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Active members">
										<span class="i-green py-1 px-2 rounded-circle fs--1 fw-700">{{ project.active_members }}</span>
									</span>
									<span class="ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="In process">
										<span class="i-red py-1 px-2 rounded-circle fs--1 fw-700">{{ project.inactive_members }}</span>
									</span>
								</td>
								{% if project.project__owner__username == request.user.username %}
								<td class="align-middle pe-0">
									<form id="form-active{{ forloop.counter }}" class="my-1 float-end" action="" method="POST">
										{% csrf_token %} 
										<select id="active{{ forloop.counter }}" data-slug="{{project.project__slug}}" class="form-select form-select-sm px-2 bg-transparent text-body" style="width:105px;" onChange=selectChange(this)>
											<option value="action" class="bg-transparent">Action</option>
											<option value="update" class="bg-transparent">Update</option>
											<option value="delete" class="bg-transparent">Delete</option>
										</select>
									</form>

									<div class="modal fade" id="deleteModal-active{{ forloop.counter }}" tabindex="-1">
										<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">					  
										  <div class="modal-content">
											<div class="modal-header">
											  <h5 class="mb-0 py-0 fs-0 fw-400 text-header">
												<i class="fas fa-trash"></i> 
												Delete Project
											  </h5>
											  <button type="button" class="btn-close fs--1" data-bs-dismiss="modal"></button>
											</div>
											<div class="scrollbar-overlay os-host-flexbox">
											<div class="modal-body fs-0 fw-400 text-body">
												<div class="alert alert-warning py-1 px-2 fs--1" role="alert">
													<small class="fas fa-circle-exclamation pe-1"></small> This project will be removed for all members.
												</div>
												  <p class="ps-2"> Are you sure that you want to delete this project?</p>
												  <div class="form-check ps-4 ms-2">
													<input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" checked disabled>
													<label class="form-check-label" style="padding-top:0.2rem;" for="flexCheckDisabled">
														  Yes, I'm sure.
													</label>
												  </div>
											</div>
											</div>
											<div class="modal-footer" style="padding:0.6rem;">
												<form method="POST" action="{% url 'projects:delete' slug=project.project__slug %}">
													{% csrf_token %}
													<button type="submit" value="delete" class="btn btn-sm btn-danger">Delete</button>
												</form>
												  <button type="button" class="btn btn-sm btn-secondary ms-auto" data-bs-dismiss="modal">Cancel</button>
											</div>
										  </div>  
										</div>
									</div>													  
								
								</td>
								{% else %}
									{% for manager in project_list_manager %}
										{% if manager.project == project.project__pk %}
											{% if manager.is_manager %}
												<td class="align-middle pe-0">
													<form id="form-active{{ forloop.counter }}" class="my-1 float-end" action="" method="POST">
														{% csrf_token %} 
														<select id="active{{ forloop.counter }}" data-slug="{{project.project__slug}}" class="form-select form-select-sm px-2 bg-transparent text-body" style="width:105px;" onChange=selectChange(this)>
															<option value="action" class="bg-transparent">Action</option>
															<option value="update" class="bg-transparent">Update</option>
															<option value="delete" class="bg-transparent">Delete</option>
														</select>
													</form>

													<div class="modal fade" id="deleteModal-active{{ forloop.counter }}" tabindex="-1">
														<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">					  
														  <div class="modal-content">
															<div class="modal-header">
															  <h5 class="mb-0 py-0 fs-0 fw-400 text-header" id="deleteModalLabel-{{ forloop.counter }}">
																<i class="fas fa-trash"></i> 
																Delete Project
															  </h5>
															  <button type="button" class="btn-close fs--1" data-bs-dismiss="modal"></button>
															</div>
															<div class="scrollbar-overlay os-host-flexbox">
															<div class="modal-body fs-0 fw-400 text-body">
																<div class="alert alert-warning py-1 px-2 fs--1" role="alert">
																	<small class="fas fa-circle-exclamation pe-1"></small> This project will be removed for all members.
																</div>
																  <p class="ps-2"> Are you sure that you want to delete the project: "{{ project.project__name | capfirst}}"?</p>
																  <div class="form-check ps-4 ms-2">
																	<input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" checked disabled>
																	<label class="form-check-label" style="padding-top:0.2rem;" for="flexCheckDisabled">
																		  Yes, I'm sure.
																	</label>
																  </div>
															</div>
															</div>
															<div class="modal-footer" style="padding:0.6rem;">
																<form method="POST" action="{% url 'projects:delete' slug=project.project__slug %}">
																	{% csrf_token %}
																	<button type="submit" value="delete" class="btn btn-sm btn-danger">Delete</button>
																</form>
																  <button type="button" class="btn btn-sm btn-secondary ms-auto" data-bs-dismiss="modal">Cancel</button>
															</div>
														  </div>  
														</div>
													</div>

												</td>
											{% else %}
												<td class="align-middle pe-0">
													<form id="form-active{{ forloop.counter }}" class="my-1 float-end" action="" method="POST">
														{% csrf_token %} 
														<select id="active{{ forloop.counter }}" data-slug="{{project.project__slug}}" class="form-select form-select-sm px-2 bg-transparent text-body" style="width:105px;" onChange=selectChange(this)>
															<option class="bg-transparent">Action</option>
															<option value="leave" class="bg-transparent">Leave</option>
														</select>
													</form>
												</td>
											{% endif %}
										{% endif %}
									{% endfor %}
								{% endif %}
							</tr>	
							{% empty %}
							{% if project_list_received.count == 0 and project_list_requested.count == 0 and project_list_waiting.count == 0%}
							<tr class="border-bottom-solid">
								<!-- large screen -->
								<td class="align-middle d-none d-lg-table-cell" colspan="5">
									<div class="row flex-center text-center" style="padding: 50 0;">
										<div class="fs-40 fw-900 text-watermark">No Projects</div>
										<p class="mt-4 mx-auto fs-2 fw-200 text-body">Create a new project or join one</p>
									</div>
								</td>
								<!-- middle screen -->
								<td class="align-middle d-none d-md-table-cell d-lg-none" colspan="4">
									<div class="row flex-center text-center" style="padding: 50 0;">
										<div class="fs-30 fw-900 text-watermark">No Projects</div>
										<p class="mt-4 mx-auto fs-0 fw-200 text-body">Create a new project or join one</p>
									</div>
								</td>
								<!-- small screen -->
								<td class="align-middle d-md-none" colspan="3">
									<div class="row flex-center text-center" style="padding: 50 0;">
										<div class="fs-20 fw-900 text-watermark">No Projects</div>
										<p class="mt-4 mx-auto fs-1 fw-200 text-body">Create a new project or join one</p>
									</div>
								</td>
							</tr>
							{% endif %}
							<!-- </membership-active> -->
						{% endfor %}
						
						
						{% for project in project_list_received %}
							<!-- <membership-received> -->
							<tr class="border-bottom-solid">
								<td class="align-middle text-left">

									<div class="d-flex align-items-center">
										<a href="{% url 'projects:single' slug=project.project__slug %}">
											<div class="avatar-icon position-relative d-inline-block my-2">
												<div class="avatar-name position-absolute h-100 w-100 d-block text-center text-uppercase text-white fs--2 fw-700 rounded-circle">
													<span class="position-absolute top-50 start-50 translate-middle">{{ project.project__name.0 }}</span>
												</div>
											</div>
										</a>
										<!-- large screen -->
										<div class="flex-1 align-self-center ps-3 pt-1 d-none d-lg-block">
											<h6 class="fs-0 mb-1">
												<a href="{% url 'projects:single' slug=project.project__slug %}" class="text-decoration-none">{{ project.project__name | capfirst}}</a>
											</h6>
											<span class="d-none d-lg-block">
												{% with description=project.project__description_html|capfirst %}
													{{description|safe}}
												{% endwith %}
											</span>
										</div>
										<!-- small screen -->
										<div class="flex-1 align-self-center ps-3 pt-2 d-lg-none">
											<h6 class="fs-0">
												<a href="{% url 'projects:single' slug=project.project__slug %}" class="text-decoration-none">{{ project.project__name | capfirst}}</a>
											</h6>
										</div>
									</div>
								</td>
								<td class="align-middle d-none d-md-table-cell">
									{% if project.project__owner__username == request.user.username %}
									<a href="" class="text-body text-underline-hover">
										{{ project.project__owner__username }}
									{% else %}
									<a href="" class="text-body text-underline-hover">
										{{ project.project__owner__username }}
									{% endif %}
									</a>
								</td>
								<td class="align-middle">
									{% if project.project__is_approved == True%}
										<span data-bs-toggle="tooltip" data-bs-placement="top" title="Active project">
											<small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small>
										</span> 
									{% else %}
										<span data-bs-toggle="tooltip" data-bs-placement="top" title="Waiting for approval">
											<small class="fa fa-minus-circle text-secondary" data-fa-transform="shrink-4 down-2"></small>
										</span> 
									{% endif %}
								</td>
								<td class="align-middle">
									<span data-bs-toggle="tooltip" data-bs-placement="top" title="Invitation received">
										<small class="fa fa-minus-circle text-secondary" data-fa-transform="shrink-4 down-2"></small>
									</span> 
								</td>
								<td class="align-middle d-none d-lg-table-cell">
									<span class="me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Active members">
										<span class="i-green py-1 px-2 rounded-circle fs--1 fw-700">{{ project.active_members }}</span>
									</span>
									<span class="ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="In process">
										<span class="i-red py-1 px-2 rounded-circle fs--1 fw-700">-</span>
									</span>
								</td>
								<td class="align-middle pe-0">
									<form id="form-received{{ forloop.counter }}" class="my-1 float-end" action="" method="POST">
										{% csrf_token %} 
										<input type="hidden" name="project_pk" value={{project.project__pk}}>
										<select id="received{{ forloop.counter }}" class="form-select form-select-sm px-2 bg-transparent text-body" style="width:105px;" onChange=selectChange(this)>
											<option class="bg-transparent">Action</option>
											<option value="accept" class="bg-transparent">Accept</option>
											<option value="reject" class="bg-transparent">Reject</option>
										</select>
									</form>
								</td>
							</tr>	
							<!-- </membership-received> -->
						{% endfor %}
						

						{% for project in project_list_requested %}
							<!-- <membership-requested> -->
							<tr class="border-bottom-solid">
								<td class="align-middle text-left">
									<div class="d-flex align-items-center">
										<a href="{% url 'projects:single' slug=project.project__slug %}">
											<div class="avatar-icon position-relative d-inline-block my-2">
												<div class="avatar-name position-absolute h-100 w-100 d-block text-center text-uppercase text-white fs--2 fw-700 rounded-circle">
													<span class="position-absolute top-50 start-50 translate-middle">{{ project.project__name.0 }}</span>
												</div>
											</div>
										</a>
										<!-- large screen -->
										<div class="flex-1 align-self-center ps-3 pt-1 d-none d-lg-block">
											<h6 class="fs-0 mb-1">
												<a href="{% url 'projects:single' slug=project.project__slug %}" class="text-decoration-none">{{ project.project__name | capfirst}}</a>
											</h6>
											<span class="d-none d-lg-block">
												{% with description=project.project__description_html|capfirst %}
													{{description|safe}}
												{% endwith %}
											</span>
										</div>
										<!-- small screen -->
										<div class="flex-1 align-self-center ps-3 pt-2 d-lg-none">
											<h6 class="fs-0">
												<a href="{% url 'projects:single' slug=project.project__slug %}" class="text-decoration-none">{{ project.project__name | capfirst}}</a>
											</h6>
										</div>
									</div>
								</td>
								<td class="align-middle d-none d-md-table-cell">
									{% if project.project__owner__username == request.user.username %}
									<a href="" class="text-body text-underline-hover">
										{{ project.project__owner__username }}
									{% else %}
									<a href="" class="text-body text-underline-hover">
										{{ project.project__owner__username }}
									{% endif %}
									</a>
								</td>
								<td class="align-middle">
									{% if project.project__is_approved == True%}
										<span data-bs-toggle="tooltip" data-bs-placement="top" title="Active project">
											<small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small>
										</span> 
									{% else %}
										<span data-bs-toggle="tooltip" data-bs-placement="top" title="Waiting for approval">
											<small class="fa fa-minus-circle text-secondary" data-fa-transform="shrink-4 down-2"></small>
										</span> 
									{% endif %}
								</td>
								<td class="align-middle">
									<span data-bs-toggle="tooltip" data-bs-placement="top" title="Invitation requested">
										<small class="fa fa-minus-circle text-secondary" data-fa-transform="shrink-4 down-2"></small>
									</span> 
								</td>
								<td class="align-middle d-none d-lg-table-cell">
									<span class="me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Active members">
										<span class="i-green py-1 px-2 rounded-circle fs--1 fw-700">{{ project.active_members }}</span>
									</span>
									<span class="ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="In process">
										<span class="i-red py-1 px-2 rounded-circle fs--1 fw-700">-</span>
									</span>
								</td>
								<td class="align-middle pe-0">
									<form id="form-requested{{ forloop.counter }}" class="my-1 float-end" action="" method="POST">
										{% csrf_token %} 
										<input type="hidden" name="project_pk" value={{project.project__pk}}>
										<select id="requested{{ forloop.counter }}" class="form-select form-select-sm px-2 bg-transparent text-body" style="width:105px;" onChange=selectChange(this)>
											<option class="bg-transparent">Action</option>
											<option value="cancel" class="bg-transparent">Cancel</option>
										</select>
									</form>
								</td>
							</tr>	
							<!-- </membership-requested> -->
						{% endfor %}
						

						{% for project in project_list_waiting %}
							<!-- <membership-waiting> -->
							<tr class="border-bottom-solid">
								<td class="align-middle text-left">
									<div class="d-flex align-items-center">
										<a href="{% url 'projects:single' slug=project.project__slug %}">
											<div class="avatar-icon position-relative d-inline-block my-2">
												<div class="avatar-name position-absolute h-100 w-100 d-block text-center text-uppercase text-white fs--2 fw-700 rounded-circle">
													<span class="position-absolute top-50 start-50 translate-middle">{{ project.project__name.0 }}</span>
												</div>
											</div>
										</a>
										<!-- large screen -->
										<div class="flex-1 align-self-center ps-3 pt-1 d-none d-lg-block">
											<h6 class="fs-0 mb-1">
												<a href="{% url 'projects:single' slug=project.project__slug %}" class="text-decoration-none">{{ project.project__name | capfirst}}</a>
											</h6>
											<span class="d-none d-lg-block">
												{% with description=project.project__description_html|capfirst %}
													{{description|safe}}
												{% endwith %}
											</span>
										</div>
										<!-- small screen -->
										<div class="flex-1 align-self-center ps-3 pt-2 d-lg-none">
											<h6 class="fs-0">
												<a href="{% url 'projects:single' slug=project.project__slug %}" class="text-decoration-none">{{ project.project__name | capfirst}}</a>
											</h6>
										</div>
									</div>
								</td>
								<td class="align-middle d-none d-md-table-cell">
									{% if project.project__owner__username == request.user.username %}
									<a href="" class="text-body text-underline-hover">
										{{ project.project__owner__username }}
									{% else %}
									<a href="" class="text-body text-underline-hover">
										{{ project.project__owner__username }}
									{% endif %}
									</a>
								</td>
								<td class="align-middle">
									{% if project.project__is_approved == True%}
										<span data-bs-toggle="tooltip" data-bs-placement="top" title="Active project">
											<small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small>
										</span> 
									{% else %}
										<span data-bs-toggle="tooltip" data-bs-placement="top" title="Waiting for approval">
											<small class="fa fa-minus-circle text-secondary" data-fa-transform="shrink-4 down-2"></small>
										</span> 
									{% endif %}
								</td>
								<td class="align-middle">
									<span data-bs-toggle="tooltip" data-bs-placement="top" title="Waiting for approval">
										<small class="fa fa-minus-circle text-secondary" data-fa-transform="shrink-4 down-2"></small>
									</span> 
								</td>
								<td class="align-middle d-none d-lg-table-cell">
									<span class="me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Active members">
										<span class="i-green py-1 px-2 rounded-circle fs--1 fw-700">{{ project.active_members }}</span>
									</span>
									<span class="ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="In process">
										<span class="i-red py-1 px-2 rounded-circle fs--1 fw-700">-</span>
									</span>
								</td>
								<td class="align-middle pe-0">
									<form id="form-waiting{{ forloop.counter }}" class="my-1 float-end" action="" method="POST">
										{% csrf_token %} 
										<input type="hidden" name="project_pk" value={{project.project__pk}}>
										<select id="waiting{{ forloop.counter }}" class="form-select form-select-sm px-2 bg-transparent text-body" style="width:105px;" onChange=selectChange(this)>
											<option class="bg-transparent">Action</option>
											<option value="cancel" class="bg-transparent">Cancel</option>
										</select>
									</form>
								</td>
							</tr>
							<!-- </membership-waiting> -->	
						{% endfor %}
												
						</tbody>
					</table>
				</div>
				<!-- </project-list> -->		

			</div>
			<!-- </card-body> -->

		</div>
	</div>
</div>
{% endblock project_content %}


{% block project_footer %}
<script>
	// actions: accept, reject, cancel, update, delete
	function selectChange(select) {
		var selectID = select.id;
		var value = select.value;
		
		if ($('#'+selectID).data('slug')) {
			var my_slug = $('#'+selectID).data('slug');
			var my_url_update = "{% url 'projects:update' slug=12345 %}?path=list".replace(/12345/, my_slug.toString());
			var my_url_leave = "{% url 'projects:leave' slug=12345 %}".replace(/12345/, my_slug.toString());
			var my_url_delete = "{% url 'projects:delete' slug=12345 %}".replace(/12345/, my_slug.toString());
		}
		
		if(value == 'accept'){
			$("#form-"+selectID).attr("action", "{% url 'projects:accept-invitation' %}");
			$("#form-"+selectID).submit();
		}
		else if (value == 'reject' || value == 'cancel'){
			$("#form-"+selectID).attr("action", "{% url 'projects:reject-invitation' %}");
			$("#form-"+selectID).submit();
		}
		else if (value == 'update'){
			$("#form-"+selectID).attr("action", my_url_update);
			$("#form-"+selectID).submit();
		}
		else if (value == 'leave'){
			$("#form-"+selectID).attr("action", my_url_leave);
			$("#form-"+selectID).submit();
		}
		else if (value == 'delete'){
			$('#deleteModal-'+selectID).modal("show");
			$('#deleteModal-'+selectID).on("hidden.bs.modal", function () {
				//reset value on hidden modal
				$(document).find('#'+selectID).val('action')
				$('#'+selectID).val('action');
			 });
		} 
	}
</script>

<script>
	function JoinProjectURL(){
		if(document.getElementById("project-url").value){
			var project_url = "{% url 'projects:single' slug=' '%}";
			// remove last 4 characters of empty slug, i.e., ' ' == %20/, and then add the project slug
			project_url = project_url.slice(0, -4) + document.getElementById("project-url").value;
			location.href = project_url;
		}
		
		return false;
	}
</script>
{% endblock project_footer %}
