{% extends "projects/project_base.html" %}
{% load indextags %}

{% block title %}Project{% endblock title %}

{% block project_content %}
<div class="row mt-2 mb-4">

	<!-- <project> -->
	<div class="col-12 col-xl-7 col-xxl-8 mb-4">
		<div class="card mb-3 h-100">

			<!-- <project-header> -->
			<div class="card-header">	
				<div class="row align-items-center">
					<div class="col">
						<h5 class="mb-0 py-2 fs-0 fw-400 text-header">
							<i class="fas fa-diagram-project"></i> Project
						</h5>
					</div>			
					<div class="col-auto"> 
						<div class"form-select form-select-sm">
							{% if is_member %}
								<!-- <is-member> -->	
								{% for x in is_member %}

									{% if x.is_approved_by_admin == True and x.is_approved_by_manager == True and x.status == 'accepted'  %}
										{% if x.is_manager %}
											<!-- <is-active-manager> -->
											<a href="{% url 'projects:update' slug=project.slug %}" class="text-decoration-none">
												<button type="button" class="btn btn-sm btn-outline-secondary custom-btn">
													<span class="p-1 text-header">Update</span>
												</button>
											</a>
											<!-- </is-active-manager> -->
										{% endif %}

										{% if x.user != project.owner %}
											<!-- <is-active-user> -->
											<a href="{% url 'projects:leave' slug=project.slug %}" class="text-decoration-none">
												<button type="button" class="btn btn-sm btn-outline-secondary custom-btn">
													<span class="p-1 text-header">Leave</span>
												</button>
											</a>
											<!-- </is-active-user> -->
										{% endif %}

										{% if x.user == project.owner %}
											<!-- <is-active-creator> -->
											<button type="button" class="btn btn-sm btn-outline-secondary custom-btn" data-bs-toggle="modal" data-bs-target="#deleteModal">
												<span class="p-1 text-header">Delete</span>
											</button>
														
											<div class="modal fade" id="deleteModal" tabindex="-1">
												<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
															
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="mb-0 py-0 fs-0 fw-400 text-header">
																<i class="fas fa-trash"></i> 
																Delete Project
															</h5>
															<button type="button" class="btn-close fs--1" data-bs-dismiss="modal"></button>
														</div>
														<div class="scrollbar-overlay os-host-flexbox">
															<div class="modal-body fs-0 fw-400 text-body">
																<div class="alert alert-warning py-1 px-2 fs--1" role="alert">
																	<small class="fas fa-circle-exclamation pe-1"></small> This project will be removed for all members.
																</div>
																<p class="ps-2"> Are you sure that you want to delete this project?</p>
																<div class="form-check ps-4 ms-2">
																	<input class="form-check-input" type="checkbox" value="" id="deleteCheckbox" onchange="document.getElementById('deleteButton').disabled = !this.checked;">
																	<label class="form-check-label" for="deleteCheckbox">
																		Yes, I'm sure.
																	</label>
																</div>
															</div>
														</div>
														<div class="modal-footer p-2">
															<form method="POST" action="{% url 'projects:delete' slug=project.slug %}">
																{% csrf_token %}
																<button id="deleteButton" type="submit" value="delete" class="btn btn-sm btn-danger" disabled>Delete</button>
															</form>
																<button type="button" class="btn btn-sm btn-secondary ms-auto" data-bs-dismiss="modal">Cancel</button>
														</div>
													</div>
															
												</div>
											</div>
											<!-- </is-active-creator> -->
										{% endif %}
									{% endif %}
									<!-- </is-member> -->
								{% endfor %}
							{% else %}
								<!-- <is-not-member> -->	
								{% if project.is_approved  %}
									<a href="{% url 'projects:join' slug=project.slug %}" class="text-decoration-none">
										<button type="button" class="btn btn-sm btn-outline-secondary custom-btn">
											<span class="p-1 text-header">Join</span>
										</button>
									</a>
								{% else %}
									<span data-bs-toggle="tooltip" data-bs-placement="left" title="Project must be approved">
										<button type="button" class="btn btn-sm btn-outline-secondary custom-btn" disabled>
											<span class="p-1 text-header">Join</span>
										</button>
									</span>
								{% endif %}
								<!-- </is-not-member> -->
							{% endif %}

						</div>
					</div>		  
				</div>		
			</div>
			<!-- </project-header> -->

			<!-- <project-body> -->
			<div class="card-body">
				
				{% if messages %}
					{% for message in messages %}
						{% if message.tags == 'success' %}
						<div  class="alert alert-success py-1 px-2 fs--1" role="alert">
							<small class="fas fa-check-circle pe-1"></small>
						{% elif message.tags == 'error' %}
						<div  class="alert alert-danger py-1 px-2 fs--1" role="alert">
							<small class="fas fa-times-circle pe-1"></small>
						{% endif %}
						{{ message }}
						</div>
					{% endfor %}
				{% endif %}

				<!-- <status> -->
				<div class="mb-3">
					<div class="py-1 mb-3">
						{% if project.is_approved  %}
							<span class="i-blue py-1 px-2 rounded-pill-3 fs--1 fw-400">
								<small class="fa fa-check-circle text-primary"></small>&nbsp; Active
							</span>
					 {% else %}
							<span class="i-gray py-1 px-2 rounded-pill-3 fs--1 fw-400">
								<small class="fa fa-minus-circle text-secondary"></small>&nbsp; Waiting for approval
							</span>
						{% endif %}
					</div>
				</div>
				<!-- </status> -->

				<!-- <form> -->
				<div class="input-group mb-3">
					<span class="input-group-text" style="width:120px;">Name</span>
					<input type="text" name="name" id="id_name" maxlength="50" class="form-control fs-0 fw-400 text-body" value="{{project.name|capfirst}}" 
						      autocomplete="do-not-autofill" disabled>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" style="width:120px;">Description</span>
					<input type="text" name="description" id="id_description" maxlength="70" class="form-control fs-0 fw-400 text-body" value="{{project.description|capfirst}}" 
					       autocomplete="do-not-autofill" disabled>
				</div>

				{% if is_member %}

					<!-- <is-member> -->
					<div class="input-group mb-3">
						<span class="input-group-text" style="width:120px;">Classification</span>
						<input type="text" name="classification" id="id_classification" class="form-control fs-0 fw-400 text-body" value="{{project.classification|capfirst}}" 
							      autocomplete="do-not-autofill" disabled>
					</div>

					{% if project.is_approved  %}
						<div class="input-group mb-3">
							<span class="input-group-text" style="width:120px;">Members</span>
							<input type="text" name="membercount" id="id_membercount" class="form-control fs-0 fw-400 text-body" value="{% for member in member_list %} {{member.active_members}} {% endfor %}" 
								      autocomplete="do-not-autofill" disabled>
						</div>

						{%for x in is_member %}

							{% if x.status == 'sent' and x.is_approved_by_manager == 0 %}
								<!-- <membership-requested> -->
								<!-- </membership-requested> -->
							{% else %}

							 <!-- <resources> -->
								<div class="card-header p-1 ps-2 mb-3 " style="margin-top:50px;">
									<span class="fs--1 fw-400 text-body">Resources</span>
								</div>
								{% if template_list.count == 0 %}
									<p class="text-body mt-2">No resources have been allocated to this project. Please contact the administrator.</p>
								{% else %}

									<div class="input-group mb-3">
										<span class="input-group-text" style="width:195px;">Template</span>
										<select class="form-select form-select-sm bg-transparent fs-0 fw-400 text-body" id="list-template">
											<option value="template0" class="bg-transparent" selected>
												{% for resource in template_list|slice:"0:1" %}
													{{ resource.template__name }}
												{% endfor %}
											</option>
											{% for resource in template_list|slice:"1:" %}
											<option value="template{{forloop.counter}}" class="bg-transparent">
												{{ resource.template__name }}
											</option>
											{% endfor %}
										</select>
									</div>
									
									
									{%for resource in template_list %}
										
										{% if forloop.first %}
										<div id="option-template-template{{forloop.counter0}}" class="option-template" style="display: block;">
										{% else %}
										<div id="option-template-template{{forloop.counter0}}" class="option-template">
										{% endif %}

											<!-- <form-resources> -->
											<div class="input-group mb-3">
												<span class="input-group-text" style="width:195px;">Accelerators
													{% with False as stop_loop %}
														{% for accelerator in accelerator_list %}
															{% if accelerator.resourcetemplate__name == resource.template__name%}
																{% if stop_loop %}
																{% else %}
																	- {{accelerator.accelerator__type}}
																	{% update_variable True as stop_loop %}
																{% endif%}
															{% endif %}
														{% endfor %}
													{% endwith %}
												</span>
												<input type="text" name="accels" id="id_accels" maxlength="255" class="form-control fs-0 fw-400 text-body" 
													      value="{% with False as stop_loop %}{% for accelerator in accelerator_list %}{% if accelerator.resourcetemplate__name == resource.template__name%}{% if stop_loop %}, {{accelerator.accelerator__name}}{% else %}{{accelerator.accelerator__name}}{% update_variable True as stop_loop %}{% endif %}{% endif %}{% endfor %}{% endwith %}" 
													      autocomplete="do-not-autofill" disabled>
											</div>
											<div class="input-group mb-3">
												<span class="input-group-text" style="width:195px;">Max Accelerators/Node</span>
												<input type="text" name="maxaccelsnode" id="id_maxaccelsnode" maxlength="255" class="form-control fs-0 fw-400 text-body" value="{{resource.template__maxaccels_per_node}}" 
																			autocomplete="do-not-autofill" disabled>
											</div>
											<div class="input-group mb-3">
												<span class="input-group-text" style="width:195px;">Max Nodes/Job</span>
												<input type="text" name="maxnodesjob" id="id_maxnodesjob" maxlength="255" class="form-control fs-0 fw-400 text-body" value="{{resource.template__maxnodes_per_job}}" 
																			autocomplete="do-not-autofill" disabled>
											</div>
											<div class="input-group mb-3">
												<span class="input-group-text" style="width:195px;">Max Jobs</span>
												<input type="text" name="maxjobs" id="id_maxjobs" maxlength="255" class="form-control fs-0 fw-400 text-body" value="{{resource.template__maxjobs}}" 
																			autocomplete="do-not-autofill" disabled>
											</div>
											<div class="input-group mb-3">
												<span class="input-group-text" style="width:195px;">Walltime</span>
												<input type="text" name="walltime" id="id_walltime" maxlength="255" class="form-control fs-0 fw-400 text-body" value="{{resource.template__walltime}}" 
																			autocomplete="do-not-autofill" disabled>
											</div>
											<div class="input-group mb-3">
												<span class="input-group-text" style="width:195px;">Features</span>
												<textarea cols="40" rows="3" name="features" id="id_features" maxlength="350" class="form-control fs-0 w-400 text-body" 
																						autocomplete="do-not-autofill" disabled>{{resource.template__features}}</textarea>
											</div>
											<!-- </form-resources> -->

										</div>
									{% endfor %}	
								{% endif %}
        <!-- </resources> -->
							
							{% endif %} 
						{% endfor %}
					
					{% else %}

						<div class="input-group">
							<span class="input-group-text" style="width:120px;">Information</span>
							<textarea cols="40" rows="3" name="information" id="id_information" maxlength="350" class="form-control fs-0 w-400 text-body" 
									        autocomplete="do-not-autofill" disabled>{{project.information|capfirst}}</textarea>
						</div>

					{% endif %}
					<!-- </member> -->
				
				{% endif %}
				<!-- </form> -->

			</div>
			<!-- </project-body> -->
					
		</div>
	</div>
	<!-- </project> -->

	
	<!-- <membership> -->
	<div class="col-12 col-xl-5 col-xxl-4 mb-4">
		<div class="card mb-3 h-100">

			<!-- <membership-header> -->
			<div class="card-header">
				<h5 class="mb-0 py-2 fs-0 fw-400 text-header">
					<i class="fas fa-users me-2"></i> Membership
				</h5>
			</div>
			<!-- </membership-header> -->

			<!-- <membership-body> -->
			<div class="card-body">
				
				{% if is_member %}
					{%for x in is_member%}	
						{% if x.is_manager %}
							{% if x.is_approved_by_admin == 1 and x.is_approved_by_manager == 1 and x.status == 'accepted' %}

								<!-- <invite> -->
								<div id="invite" class="mb-4">

									<div class="card-header p-1 ps-2 mb-3">
										<span class="fs--1 fw-400 text-body">Invite</span>
									</div>
										
									<script>
										$(function () {
											var availableTags = [
												{% for usr in user_list %}
													{% if usr not in project.members.all %}
														"{{ usr }}",
													{% endif %}
												{% endfor %}
											];
											$("#user_pk").autocomplete({
												source: availableTags
											});
										});
									</script>

									<!-- <form-add> -->
									<form action="{% url 'projects:submit-invitation' %}" method="POST">
										{% csrf_token %} 
										<div class="input-group mb-3">
											<input type="hidden" id="project_pk" name="project_pk" value={{project.pk}}>
											{% if project.is_approved == False %}
											<input type="text" id="user_pk" name="user_pk" class="form-control"  placeholder="...Waiting for approval" disabled>
											<button class="btn btn-sm btn-outline-secondary custom-btn text-body" type="submit" disabled>
											{% else %}
											<input type="text" id="user_pk" name="user_pk" class="form-control fs-0 fw-400 text-body"  placeholder="Type username" autocomplete="do-not-autofill" autocomplete="off">
											<button class="btn btn-sm btn-outline-secondary custom-btn text-body" type="submit">
           {% endif %}
												<span class="pe-2">Add to Project</span>
										 	<span class="fas fa-plus ps-3 pe-2" data-fa-transform="shrink-5 left-2"></span>
									 	</button>
										</div>
									</form>
									<!-- </form-add> -->

									<!-- <copy> -->
									<div class="input-group mb-3">
										{% if project.is_approved == False %}
										<input type="text" id="value_to_copy" name="value_to_copy" class="form-control"  placeholder="...Waiting for approval" disabled>
										<button id="copy_value" class="btn btn-sm btn-outline-secondary custom-btn text-body" disabled>
											Copy Project ID 
											<span class="far fa-copy ps-3 pe-2" data-fa-transform="shrink-5 left-2"></span>
										</button>
										{% else %}
										<input type="text" id="value_to_copy" name="value_to_copy" class="form-control" style="color:#6c757d;" value="{{project.slug}}" readonly>
										<button id="copy_value" class="btn btn-sm btn-outline-secondary custom-btn text-body" onclick="myCopyFunction()" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy">
											Copy Project ID 
											<span class="far fa-copy ps-3 pe-2" data-fa-transform="shrink-5 left-2"></span>
										</button> 
										{% endif %}
									</div>
									<!-- </copy> -->

								</div>
								<!-- </invite> -->

								{% endif %}
							{% endif %}
					{% endfor %}
				{% endif %}		
				

				{% for y in project.projectmember_set.all %}
					{% if y.user == project.owner %}

						<!-- <creator> -->	
							<div class="card-header p-1 ps-2 mb-3">
								<span class="fs--1 fw-400 text-body">Creator</span>
							</div>
							
							<table class="table table-borderless m-0">
							<tbody>
								<tr>
									<td class="align-middle text-left">
										<div class="d-flex align-items-center">
											{% if y.user != request.user %}
											<a href="" class="ps-2">
											{% else %}
											<a href="" class="ps-2">
											{% endif%}
												<div class="avatar-icon position-relative d-inline-block my-2">
														<span class="position-absolute top-50 start-50 translate-middle">
															<img class="rounded-circle" style="width:50px;" src="/static/img/users/blank-user.png" />
														</span>
												</div>
											</a>
											<div class="flex-1 align-self-center ps-3">
												<h6 class="fs-0 fw-500 mb-1">
													{% if y.user != request.user %}
													<a href="" class="text-decoration-none">
														{{ y.user }}
													{% else %}
													<a href="" class="text-decoration-none">
														You
													{% endif%}
												</h6>
												<span class="i-gray py-1 px-2 rounded-pill-3 fs--1 fw-400">ADMIN</span>
											</div>	
										</div>
									</td>
									{% if y.user != request.user %}
									<td>
										<div class="float-end">
											<form id="form-creator" action="" method="GET">
												<select id="creator" class="form-select form-select-sm px-2 bg-transparent text-body mt-4" style="width: 100px; height:31px;"  data-slug="{{y.user}}" onChange=selectChange(this)>
													<option value="action" class="bg-transparent" selected>Action</option>
													<option value="view" class="bg-transparent">View</option>
												</select>
											</form>
										</div>
									</td>
									{% endif %}		
								</tr>
							</tbody>
						</table>
						<!-- </creator> -->

					{% endif %}
				{% endfor %}

				
				{% if is_member %}
					{%for x in is_member %}
							
						{% if project.is_approved == True %}
						<!-- <members> -->							
	
							{% if x.is_approved_by_admin == 1 and x.is_approved_by_manager == 1 and x.status == 'accepted' %}

								<!-- <request-user-is-active-member> -->
								{% for member in member_list %}
										
									{% if member.active_members == 1 and member.inactive_members == 0 %}
												
										<!-- <single-member> -->
										<div class="card-header p-1 ps-2 mb-3 mt-2">
											<span class="fs--1 fw-400 text-body">Members</span>
										</div>

										<div class="row flex-center text-center" style="padding: 50 0 50 0;">
											<div class="fs-6 fw-900 text-watermark">Single Member Project</div>
											<p class="mt-4 mx-auto fs--1 fw-200 text-body">To add members, share the project ID or submit an invitation</p>
										</div>
										<!-- </single-member> -->

									{% elif member.active_members > 0 and member.inactive_members >= 0 %}
													
										{% if member.active_members != 1 %}

											<!-- <active-members> -->
											<div class="card-header p-1 ps-2 mb-3 mt-2">
												<span class="fs--1 fw-400 text-body">Members</span>
											</div>

											<table class="table table-borderless m-0">
												<tbody>
															
													{% for y in project.projectmember_set.all %}
														{% if y.is_approved_by_admin == 1 and y.is_approved_by_manager == 1 and y.status == 'accepted' and y.user != project.owner %}
																
															<tr class="border-bottom-dashed my-3">
                <td class="align-middle text-left">
																	<div class="d-flex align-items-center my-2">
																		{% if y.user != request.user %}
																		<a href="" class="ps-2">
																		{% else %}
																		<a href="" class="ps-2">
																		{% endif%}
																			<div class="avatar-icon position-relative d-inline-block my-2">
																				<span class="position-absolute top-50 start-50 translate-middle">
																					<img class="rounded-circle" style="width:50px;" src="/static/img/users/blank-user.png" />
																				</span>
																			</div>
																		</a>
																		<div class="flex-1 align-self-center ps-3">
																			<h6 class="fs-0 fw-500 mb-1">
																				{% if y.user != request.user %}
																				<a href="" class="text-decoration-none">
																					{{ y.user }}
																				{% else %}
																				<a href="" class="text-decoration-none">
																					You
																				{% endif%}
																			</h6>
																			<span class="i-gray py-1 px-2 rounded-pill-3 fs--1 fw-400">
																				{% if y.is_manager %}
																					ADMIN
																				{% else %}
																					USER
																				{% endif %}
																			</span>	
																		</div>
																	</div>
																</td>
	
																{% if y.user != request.user %}
																<td>
																	<div class="float-end mt-2">
																		<form id="form-manager{{ forloop.counter }}" action="" method="POST">
																			{% csrf_token %} 
																			<input type="hidden" name="project_pk" value={{project.pk}}>
																			<input type="hidden" name="user_pk" value={{y.user}}>
																			<select id="manager{{ forloop.counter }}" class="form-select form-select-sm px-2 bg-transparent text-body mt-4" 
                           style="width: 100px;" onChange=selectChange(this)>
																				<option value="action" class="bg-transparent">Action</option>
																				<option>View</option>
																				{% if x.is_manager %}
																					<option value="remove" class="bg-transparent">Remove</option>
																					{% if y.is_manager %}
																					<option value="not-manager" class="bg-transparent">Set as User</option>
																					{% else %}
																					<option value="manager" class="bg-transparent">Set as Admin</option>
																					{% endif %}
																				{% endif %}
																			</select>
																		</form>
																	</div>
																</td>
																{% endif %}
															</tr>
														{% endif %}
													{% endfor %}
												</tbody>
											</table>
											<!-- </active-members> -->

										{% endif %}
												
										
										{% if member.inactive_members > 0 %}
												
												<!-- <inactive-members> -->
												<div class="card-header p-1 ps-2 mb-3 mt-2">
													<span class="fs--1 fw-400 text-body">In process</span>
												</div>
												
												<table class="table table-borderless m-0">
													<tbody>
														{% for y in project.projectmember_set.all %}
															{% if y.is_approved_by_admin == 0 or y.is_approved_by_manager == 0 or y.status == 'sent' %}

																<tr class="border-bottom-dashed my-3">
																	<td class="align-middle text-left">
																		<div class="d-flex align-items-center my-2">
																			<a href="" class="ps-2">
																				<div class="avatar-icon position-relative d-inline-block my-2">
																					<span class="position-absolute top-50 start-50 translate-middle">
																						<img class="rounded-circle" style="width:50px;" src="/static/img/users/blank-user.png" />
																					</span>
																				</div>
																			</a>
																			<div class="flex-1 align-self-center ps-3">
																				<h6 class="fs-0 fw-500 mb-1">
																					<a href="" class="text-decoration-none">{{ y.user }}</a>
																				</h6>
												
																				{% if y.is_approved_by_admin == 0 and y.is_approved_by_manager == 1 and y.status == "accepted" %}
																					<button class="btn btn-sm btn-outline-secondary custom-btn text-body" style="width:150px;" disabled>
																						Waiting for approval
																					</button>
																				{% elif y.is_approved_by_manager == 1 and y.status == "sent" %}
																					<button class="btn btn-sm btn-outline-secondary custom-btn text-body" style="width:150px;" disabled>
																						Invitation submitted
																					</button>
																				{% elif y.is_approved_by_manager == 0 and y.status == "sent" %}
																					<button class="btn btn-sm btn-outline-secondary custom-btn text-body" style="width:150px;" disabled>
																						Invitation received
																					</button>
																				{% endif %}
																			</div>
																		</div>
																	</td>
                 
              			<td>
																		<div class="float-end mt-2">
																			<form id="form-request-received{{ forloop.counter }}" action="" method="POST">
																				{% csrf_token %} 
																				<input type="hidden" name="project_pk" value={{project.pk}}>
																				<input type="hidden" name="user_pk" value={{y.user}}>
																				<select id="request-received{{ forloop.counter }}" class="form-select form-select-sm px-2 bg-transparent text-body mt-4" style="width:100px; height:31px;" onChange=selectChange(this)>
																					<option value="action" class="bg-transparent">Action</option>
																					<option class="bg-transparent">View</option>
																					{% if x.is_manager == 1 %}
																						{% if y.is_approved_by_admin == 0 and y.is_approved_by_manager == 1 and y.status == "accepted" %}
																						<option value="cancel" class="bg-transparent">Cancel</option>
																						{% elif y.is_approved_by_manager == 1 and y.status == "sent" %}
																						<option value="cancel" class="bg-transparent">Cancel</option>
																						{% elif y.is_approved_by_manager == 0 and y.status == "sent" %}
																						<option value="accept" class="bg-transparent">Accept</option>
																						<option value="reject" class="bg-transparent">Reject</option>
																						{% endif %}
																					{% endif %}
																				</select>
																			</form>
																		</div>
																	</td>

																</tr>
															{% endif %}
														{% endfor %}
													</tbody>
												</table>
												<!-- </inactive-member> -->	
										
										{% endif %}
									{% endif %}
								{% endfor %}
								<!-- </request-user-is-active-member> -->
										
								{% else %}
										
									<div class="card-header p-1 ps-2 mb-3 mt-2">
										<span class="fs--1 fw-400 text-body">In process</span>
									</div>

										<!-- <request-user-is-inactive-member> -->
										<table class="table table-borderless m-0">
											<tbody>
												{% for y in project.projectmember_set.all %}
													{% if y.user == x.user %}

														<div class="alert alert-warning py-1 px-2 fs--1" role="alert">
														 <small class="fas fa-circle-exclamation pe-1"></small>
														 {% if y.status == 'sent' and y.is_approved_by_manager == 1 %}
															<!-- received -->
															You have been invited to join this project
															{% elif y.status == 'sent' and y.is_approved_by_manager == 0 %}
															<!-- requested -->
															You have sent a request to join this project	
															{% elif y.status == 'accepted' and y.is_approved_by_manager == 1 %}
															<!-- waiting -->
															Your membership is waiting for approval
															{% endif %}
														</div>		
														
														<tr class="border-bottom-dashed my-3">
															<td class="align-middle text-left">
																<div class="d-flex align-items-center my-2">
																	<a href="" class="ps-2">
																		<div class="avatar-icon position-relative d-inline-block my-2">
																			<span class="position-absolute top-50 start-50 translate-middle">
																				<img class="rounded-circle" style="width:50px;" src="/static/img/users/blank-user.png" />
																			</span>
																		</div>
																	</a>
																	<div class="flex-1 align-self-center ps-3">
																		<h6 class="fs-0 fw-500 mb-1">
																			<a href="" class="text-decoration-none">You</a>
																		</h6>
										
																		{% if y.status == 'sent' and y.is_approved_by_manager == 1 %}
																			<!-- received -->	
																			<button class="btn btn-sm btn-outline-secondary custom-btn text-body" style="width:150px;" disabled>
																				Invitation received
																			</button>
																		{% elif y.status == 'send' and y.is_approved_by_manager == 0 %}
																			<!-- requested -->
																			<button class="btn btn-sm btn-outline-secondary custom-btn text-body" style="width:150px;" disabled>
																				Invitation requested
																			</button>
																		{% elif y.status == 'accepted' and y.is_approved_by_manager == 1 %}
																			<!-- waiting -->
																			<button class="btn btn-sm btn-outline-secondary custom-btn text-body" style="width:150px;" disabled>
																				Waiting for approval
																			</button>
																		{% endif %}
																	</div>
																</div>
															</td>
															<td>
																<div class="float-end mt-2">
																	{% if y.status == 'sent' and y.is_approved_by_manager == 1 %}
																		<!-- received -->

																		<form id="form-received{{ forloop.counter }}" action="" method="POST">
																			{% csrf_token %} 
																			<input type="hidden" name="project_pk" value={{project.pk}}>
																			<select id="received{{ forloop.counter }}" class="form-select form-select-sm px-2 bg-transparent text-body mt-4" 
                           style="width:100px; height:31px;" onChange=selectChange(this)>
																				<option value="action" class="bg-transparent">Action</option>
																				<option value="accept" class="bg-transparent">Accept</option>
																				<option value="reject" class="bg-transparent">Reject</option>
																			</select>
																		</form>
																	
																	{% elif y.status == 'sent' and y.is_approved_by_manager == 0 %}
																		<!-- requested -->

																		<form id="form-requested{{ forloop.counter }}" action="" method="POST">
																			{% csrf_token %} 
																			<input type="hidden" name="project_pk" value={{project.pk}}>
																			<select id="requested{{ forloop.counter }}" class="form-select form-select-sm px-2 bg-transparent text-body mt-4" 
                           style="width:100px; height:31px;" onChange=selectChange(this)>
																				<option value="action" class="bg-transparent">Action</option>
																				<option value="cancel" class="bg-transparent">Cancel</option>
																			</select>
																		</form>

																	{% elif y.status == 'accepted' and y.is_approved_by_manager == 1 %}
																		<!-- waiting -->

																		<form id="form-waiting{{ forloop.counter }}" action="" method="POST">
																			{% csrf_token %} 
																			<input type="hidden" name="project_pk" value={{project.pk}}>
																			<select id="waiting{{ forloop.counter }}" class="form-select form-select-sm px-2 bg-transparent text-body mt-4" 
                           style="width:100px; height:31px;" onChange=selectChange(this)>
																				<option value="action" class="bg-transparent">Action</option>
																				<option value="cancel" class="bg-transparent">Cancel</option>
																			</select>
																		</form>
																	{% endif %}

																</div>
															</td>

														</tr>
													{% endif %}
												{% endfor %}
											</tbody>
										</table>
										<!-- <user-is-inactive-member> -->

									{% endif %}
							
							<!-- </members> -->	
							{% endif %}
							
					

						
					{% endfor %}
				{% endif %}				
									
			</div>
			<!--</membership-body>-->
	
		</div>
	</div>
	<!-- </membership> -->

</div>

<script>
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip()
    });
      
    $('#copy_value').click(function() {
        $(this).attr('data-bs-original-title', 'Copied!').tooltip('show');
        $(this).attr('data-bs-original-title', 'Copy');
    });
      
    function myCopyFunction() {
        var copyText = document.getElementById("value_to_copy");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
    } 
</script>

<script>
	// actions: accept, reject, cancel, remove, update, delete
	function selectChange(select) {
		var selectID = select.id;
		var value = select.value;
		
		if ($('#'+selectID).data('slug')) {
			var my_slug = $('#'+selectID).data('slug');
			var my_url_update = "{% url 'projects:update' slug=12345 %}".replace(/12345/, my_slug.toString());
			var my_url_leave = "{% url 'projects:leave' slug=12345 %}".replace(/12345/, my_slug.toString());
			var my_url_delete = "{% url 'projects:delete' slug=12345 %}".replace(/12345/, my_slug.toString());
		}
		
		if(value == 'accept'){
			$("#form-"+selectID).attr("action", "{% url 'projects:accept-invitation' %}");
			$("#form-"+selectID).submit();
		}
		else if (value == 'reject' || value == 'cancel' || value == 'remove'){
			$("#form-"+selectID).attr("action", "{% url 'projects:reject-invitation' %}");
			$("#form-"+selectID).submit();
		}
		else if (value == 'update'){
			$("#form-"+selectID).attr("action", my_url_update);
			$("#form-"+selectID).submit();
		}
		else if (value == 'leave'){
			$("#form-"+selectID).attr("action", my_url_leave);
			$("#form-"+selectID).submit();
		}
		else if (value == 'delete'){
			$("#form-"+selectID).attr("action", my_url_delete);
			$("#form-"+selectID).submit();
		} 
		else if (value == 'manager' || value == 'not-manager'){
			$("#form-"+selectID).attr("action", "{% url 'projects:set-manager' %}");
			$("#form-"+selectID).submit();
		} 
	}
</script>

<script>
	$(document).ready(function() {
		if (!$("#twofactor").length > 0) {
			// Note: set .option-template{display:none;} in style.css
			var $list_template = $( '#list-template' );
			var $option_template = $( '.option-template' );
		
			$list_template.on( 'change', function ( e ) {
				$option_template.hide();
				$( '#option-template-' + this.value ).show();
			} );
		}
	})
	</script>

<script>
		$(document).ready(function(){
		$('#deleteModal').on("hidden.bs.modal", function () {
			$('#deleteCheckbox').prop('checked', false);
			$('#deleteButton').prop('disabled', true);
		 });
		});
	</script>
{% endblock project_content %}
