{% extends "wiki/base_site.html" %}

{% block wiki_site_title %} - Wiki{% endblock %}

{% block wiki_header_branding %}
{% load static %}
<a class="active" href="/"><img src="{% static 'carme.svg' %}" alt="logo" width=50 /></a>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="nav navbar-nav">
	<li class="active"><a href="/">Carme HOME</a></li>
	<li class="active"><a href="{% url 'wiki:root' %}">WIKI</a></li>
</ul>

{% endblock %}

{% block wiki_footer_logo %}
<a href="http://open-carme.org" class="pull-right"><img src="{% static settings.CARME_FRONTEND_LOGO_TOP_LEFT %}"
		alt=" logo" width=100 /></a><BR>
{% endblock %}